<p-dialog header="Ajout - Fiche d'Immobilisation" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
    [modal]="true" width="700" height="800">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="file">
        <div>

            <div class="ui-grid-row form-group">
                <div class="ui-grid-col-2">
                    <label i18n="@@key" for="key">Code Identification : </label>
                </div>
                <div class="ui-grid-col-9">
                    <input pInputText id="key" class="form-control" [(ngModel)]="file.identificationCode" disabled=true/>
                </div>
                <div class="ui-grid-col-1"></div>
            </div>

            <div class="ui-grid-row form-group">
                <div class="ui-grid-col-2">
                    <label i18n="@@folder" for="folder">Dossier : </label>
                </div>
                <div class="ui-grid-col-9">
                    <p-autoComplete [(ngModel)]="file.folder" (onDropdownClick)="folderDropdown.handleDropdownClick($event)"
                        [suggestions]="folderDropdown.filteredFolders" [dropdown]="true" id="folder"
                        (completeMethod)="folderDropdown.filter($event)" name="folder" field="identificationCode"
                        placeholder="Dossier d'Immobilisation" [minLength]="1"></p-autoComplete>
                </div>
                <div class="ui-grid-col-1"></div>
            </div>
            
            <div class="ui-grid-row form-group">
                <div class="ui-grid-col-2">
                    <label i18n="@@type" for="type">File Type : </label>
                </div>
                <div class="ui-grid-col-9">
                    <p-autoComplete [(ngModel)]="file.fileType" (onDropdownClick)="fileTypeDropdown.handleDropdownClick($event)"
                        [suggestions]="fileTypeDropdown.filteredFileTypes" [dropdown]="true" id="type"
                        (completeMethod)="fileTypeDropdown.filter($event)" name="type" field="name"
                        placeholder="N° Proces Verbal de reception" [minLength]="1"></p-autoComplete>
                </div>
                <div class="ui-grid-col-1"></div>
            </div>

            <div class="ui-grid-row form-group">
                <div class="ui-grid-col-2">
                    <label i18n="@@designation" for="designation">Nom : </label>
                </div>
                <div class="ui-grid-col-9">
                    <input pInputText id="designation" class="form-control" [(ngModel)]="file.name" />
                </div>
                <div class="ui-grid-col-1"></div>
            </div>

            <div class="ui-grid-row form-group">
                <div class="ui-grid-col-2">
                    <label i18n="@@quantity" for="quantity">Quantité : </label>
                </div>
                <div class="ui-grid-col-9">
                    <input pInputText id="quantity" class="form-control" [(ngModel)]="file.quantity" />
                </div>
                <div class="ui-grid-col-1"></div>
            </div>
            <div class="ui-grid-row form-group">
                <div class="ui-grid-col-2">
                    <label i18n="@@price" for="price">Prix Unitaire : </label>
                </div>
                <div class="ui-grid-col-9">
                    <input pInputText id="price" class="form-control" [(ngModel)]="file.price" />
                </div>
                <div class="ui-grid-col-1"></div>
            </div>
            <div class="ui-grid-row form-group">
                <div class="ui-grid-col-2">
                    <label i18n="@@lifetime" for="lifetime">Durée de vie : </label>
                </div>
                <div class="ui-grid-col-9">
                    <input pInputText id="lifetime" class="form-control" [(ngModel)]="file.lifetime" /><span>Mois</span>
                </div>
                <div class="ui-grid-col-1"></div>
            </div>

        </div>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="delete()" label="{{DELETE_LABEL}}"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="{{SAVE_LABEL}}"></button>
        </div>
    </footer>
</p-dialog>


<p-dataTable [value]="files" selectionMode="single" [(selection)]="selectedfile" expandableRows="true"
    [paginator]="true" [rows]="5" (onRowSelect)="onRowSelect($event)" [responsive]="true">
    <p-column expander="true" styleClass="col-icon" [style]="{'width':'5%'}">

    </p-column>
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="col.sortable"
        [style]="col.style" [filter]="col.filter">
        <ng-template *ngIf="col.type === 'Date'" let-col let-data="rowData" pTemplate type="body">
            <span class="col-date">{{ data[ col.field ] | date:'dd/MM/yy' }}</span>
        </ng-template>
    </p-column>

    <ng-template pTemplate="paginatorLeft">
        <button type="button" (click)="showDialogToAdd()" pButton icon="fa fa-plus-circle"></button>
    </ng-template>
    <ng-template pTemplate="paginatorRight">
        <button type="button" (click)="getAll()" pButton icon="fa fa-refresh"></button>
    </ng-template>
</p-dataTable>