<file-uploader></file-uploader>
<p-dialog header="{{DETAIL}}" [responsive]="true" showEffect="fade"
	[modal]="true" width="800" height="700">
<div class="ui-grid ui-grid-responsive ui-fluid"
	*ngIf="assignmentResponse">
	<div class="ui-grid-row">
		<div class="ui-grid-col-3">
			<label i18n="@@description" for="description">Description</label>
		</div>
		<div class="ui-grid-col-9">
			<p-editor [(ngModel)]="assignmentResponse.description"
				[style]="{'height':'320px'}"></p-editor>
		</div>
	</div>

	<br>
</div>
<footer>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" pButton icon="fa fa-close" (click)="delete()"
			label="{{DELETE_LABEL}}"></button>
		<button type="button" pButton icon="fa fa-check" (click)="save()"
			label="{{SAVE_LABEL}}"></button>
	</div>
</footer> <p-dataTable [value]="assignmentResponse.files"> <p-column
	header="Fichier" field="fileName" [style]="{'width':'60%'}"></p-column>
<p-column header="Action" field="fileName" [style]="{'width':'40%'}">
<ng-template let-col let-doc="rowData" pTemplate="body"> <a
	*ngIf="doc.fileName" class="btn btn-theme"
	href="assets/docs/student_docs/{{doc.fileName}}"> <i
	class="fa fa-download"></i>{{DOWNLOAD}}
</a> <a *ngIf="doc.fileName" (click)="deleteDoc(doc)" class="btn btn-theme">
	<i class="fa fa-delete"></i>{{DELETE_LABEL}}
</a> </ng-template> </p-column> <ng-template pTemplate="paginatorLeft">
<button type="button" (click)="showDialogToAdd()" pButton
	icon="fa fa-plus-circle"
	*ngIf="currentUser.role === 1 || currentUser.role === 2"></button>
</ng-template> <ng-template pTemplate="paginatorRight">
<button type="button" (click)="getAll()" pButton icon="fa fa-refresh"></button>
</ng-template> </p-dataTable> </p-dialog>