<file-uploader></file-uploader>

<p-growl [(value)]="msgs"></p-growl>

<div>

	<div class="alert alert-danger" *ngIf="error" style="margin-top: 20px;">{{
		error }}</div>

	<div class="alert alert-danger" *ngIf="errorClient"
		style="margin-top: 20px;">{{ errorClient }}</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			<button type="button" pButton icon="fa fa-check" style="float: left"
				*ngIf="!(nInvoiceView.status==2)" (click)="sendToClient()"
				label="Envoyer"></button>
		</div>
		<div class="ui-grid-col-2">
			<button type="button" pButton icon="fa fa-check" style="float: left"
				*ngIf="!(nInvoiceView.status==2)" (click)="clientAprove()"
				label="Approuver"></button>
		</div>
		<div class="ui-grid-col-2">
			<button type="button" pButton icon="fa fa-close" style="float: left"
				*ngIf="!(nInvoiceView.status==2)" (click)="clientReject()"
				label="Rejeter"></button>
		</div>
	</div>

	<div class="ui-grid-row" style="margin-top: 20px;">
		<div class="ui-grid-col-6">
			<button type="button" class="btn btn-primary">
				<span class="badge badge-light">1</span>Selectionnez la compagnie
			</button>
			<form (ngSubmit)="searchCompany()" #searchForm="ngForm">
				<div class="ui-grid ui-grid-responsive ui-fluid">
					<div class="ui-grid-row">
						<div class="ui-grid-col-10">
							<input type="text" pInputText class="form-control"
								id="searchTextCompany" required
								[(ngModel)]="searchTextObject.searchText"
								placeholder="{{USER_SEARCH_PARTS}}" name="searchT"
								#searchTextC="ngModel">
						</div>
						<div class="ui-grid-col-2">
							<button type="button" pButton icon="fa fa-search"
								(click)="searchCompany()" label="Go"
								style="margin-top: 0px; height: 35px;"></button>
						</div>
					</div>
				</div>
			</form>

			<p-dataTable [value]="companies" selectionMode="single"
				*ngIf="companies" [(selection)]="selectedCompany"
				expandableRows="true" (onRowSelect)="onCompanySelected($event)"
				[paginator]="true" [rows]="15" [responsive]="true"> <p-column
				*ngFor="let col of companiesCols" [field]="col.field"
				[header]="col.header" [sortable]="col.sortable"
				[filter]="col.filter"> </p-column> </p-dataTable>

		</div>
		<div class="ui-grid-col-6">
			<button type="button" class="btn btn-primary">
				<span class="badge badge-light">1</span>Selectionner le client
			</button>
			<form (ngSubmit)="searchUser()" #searchForm="ngForm">
				<div class="ui-grid ui-grid-responsive ui-fluid">
					<div class="ui-grid-row">
						<div class="ui-grid-col-10">
							<input type="text" pInputText class="form-control"
								id="searchTextUser" required [(ngModel)]="searchTextUser"
								placeholder="{{USER_SEARCH_PARTS}}" name="searchT"
								#searchT="ngModel">
						</div>
						<div class="ui-grid-col-2">
							<button type="button" pButton icon="fa fa-search"
								(click)="searchUser()" label="Go"
								style="margin-top: 0px; height: 35px;"></button>
						</div>
					</div>
				</div>
			</form>

			<p-dataTable [value]="users" selectionMode="single" *ngIf="users"
				[(selection)]="selectedUser" expandableRows="true"
				(onRowSelect)="onUserSelected($event)" [paginator]="true" [rows]="15"
				[responsive]="true"> <p-column
				*ngFor="let col of userCols" [field]="col.field"
				[header]="col.header" [sortable]="col.sortable"
				[filter]="col.filter"> </p-column> </p-dataTable>

		</div>
		<div class="ui-grid-col-6">
			<button type="button"
				class="btn btn-primary">
				<span class="badge badge-light">1</span>Selectionnez le vendeur
			</button>
			<form (ngSubmit)="searchVendurUser()" #searchVendeurForm="ngForm">
				<div class="ui-grid ui-grid-responsive ui-fluid"
					>
					<div class="ui-grid-row">
						<div class="ui-grid-col-10">
							<input type="text" pInputText class="form-control"
								id="searchTextVenteur" required [(ngModel)]="searchTextUser"
								placeholder="{{USER_SEARCH_PARTS}}" name="searchTextVenteur"
								#searchTextVenteur="ngModel">
						</div>
						<div class="ui-grid-col-2">
							<button type="button" pButton icon="fa fa-search"
								(click)="searchVendurUser()" label="Go"
								style="margin-top: 0px; height: 35px;"></button>
						</div>
					</div>
				</div>
			</form>

			<p-dataTable [value]="vendeurs" selectionMode="single" *ngIf="vendeurs"
				expandableRows="true" (onRowSelect)="onVendeurSelected($event)"
				[paginator]="true" [rows]="15" [responsive]="true"> <p-column
				*ngFor="let col of vendeurCols" [field]="col.field"
				[header]="col.header" [sortable]="col.sortable"
				[filter]="col.filter"> </p-column> </p-dataTable>

		</div>
	</div>

	<div class="ui-grid-row" style="margin-top: 20px;"
		*ngIf="nInvoiceView.userId || nInvoiceView.companyId">
		<div class="ui-grid-col-6">

			<h3 *ngIf="nInvoiceView.companyId" style="font-weight: bold;">Entreprise
				: {{nInvoiceView.customerName}}</h3>

		</div>
		<div class="ui-grid-col-6">

			<h3 *ngIf="nInvoiceView.userId" style="font-weight: bold;">Client
				: {{nInvoiceView.customerName}}</h3>

		</div>

		<div class="ui-grid-col-6">

			<h3 style="font-weight: bold;">Vendeur
				: {{nInvoiceView.vendeurName}}</h3>

		</div>
	</div>

	<br /> <br />

	<div class="ui-grid-row" *ngIf="errorReference">
		<div class="ui-grid-col-5">
			<div class="alert alert-danger">{{ this.errorReference }}</div>
		</div>

		<div class="ui-grid-col-7"></div>
	</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-6">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label i18n="@@contact" for="contact">Référence</label>
				</div>
				<div class="ui-grid-col-6">
					<input pInputText id="contact" class="form-control"
						[(ngModel)]="nInvoiceView.reference" required />
				</div>
				<div class="ui-grid-col-2"></div>
			</div>
		</div>

		<div class="ui-grid-col-6">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label i18n="@@numero">Numéro</label>
				</div>
				<div class="ui-grid-col-8">
					<h4 *ngIf="!nInvoiceView.number">-</h4>
					<label *ngIf="nInvoiceView.number">{{ nInvoiceView.number
						}}</label>
				</div>
			</div>
		</div>
	</div>

	<br />

	<div class="ui-grid-row">
		<div class="ui-grid-col-6">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label i18n="@@tax" for="tax">Taxe (%)</label>
				</div>
				<div class="ui-grid-col-6">
					<input pInputText class="form-control" id="tax"
						[(ngModel)]="nInvoiceView.tax" required />
				</div>
				<div class="ui-grid-col-2"></div>
			</div>
		</div>

		<div class="ui-grid-col-6">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label i18n="@@numero">Date</label>
				</div>
				<div class="ui-grid-col-8">
					<p-calendar monthNavigator="true" yearRange="1940:2050" yearNavigator="true" id="invoiceDate" name="invoiceDate"
						[(ngModel)]="nInvoiceView.invoiceDate" #invoiceDate="ngModel"
						placeholder="dd/mm/yyyy" required></p-calendar>
				</div>
			</div>
		</div>
	</div>

	<br />

	<div class="ui-grid-row">
		<div class="ui-grid-col-6">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label i18n="@@discountPerc" for="discountPerc">Remise
						globale</label>
				</div>
				<div class="ui-grid-col-6">
					<input pInputText class="form-control" id="discountPerc"
						[(ngModel)]="nInvoiceView.discountPerc" />
				</div>
				<div class="ui-grid-col-2"></div>
			</div>
		</div>

		<div class="ui-grid-col-6">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label i18n="@@numero">Etat </label>
				</div>
				<div class="ui-grid-col-8">
					<label>{{ nInvoiceView.statusDescription }}</label>
				</div>
			</div>
		</div>
	</div>

	<br />
	<div class="ui-grid-row">
		<div class="ui-grid-col-6">
			<div class="ui-grid-row">
				<div class="ui-grid-col-4">
					<label i18n="@@paymentDate">Date payement</label>
				</div>
				<div class="ui-grid-col-8">
					<p-calendar monthNavigator="true" yearRange="1940:2050" yearNavigator="true" id="paymentDate" name="paymentDate"
						[(ngModel)]="nInvoiceView.paymentDate" #invoiceDate="ngModel"
						placeholder="dd/mm/yyyy" ></p-calendar>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			<label i18n="@@description">Description</label>
		</div>
		<div class="ui-grid-col-10">
			<p-editor [(ngModel)]="nInvoiceView.description"
				[style]="{'height':'150px'}"></p-editor>
		</div>
	</div>

	<br />


	<div class="alert alert-danger" *ngIf="errorSaleCond"
		style="margin-top: 20px;">{{ this.errorSaleCond }}</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			<label i18n="@@conditionVente">Conditions de vente</label>
		</div>

		<div class="ui-grid-col-10">
			<p-editor [(ngModel)]="nInvoiceView.saleCond"
				[style]="{'height':'150px'}"></p-editor>
		</div>
	</div>

	<br />

	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			<label i18n="@@ttcToLetter">Total TTC en lettres</label>
		</div>

		<div class="ui-grid-col-10">
			<input pInputText class="form-control" id="ttcToLetter"
				[(ngModel)]="nInvoiceView.ttcToLetter" required />
		</div>
	</div>

	<div class="ui-grid-row" style="margin-top: 15px; font-weight: bold;"
		*ngIf="nInvoiceView.invoiceId">

		<div class="ui-grid-col-8">

			<h6></h6>

		</div>
		<div class="ui-grid-col-2">

			<h6 style="font-weight: bold;">TOTAL HT :</h6>

		</div>

		<div class="ui-grid-col-2">

			<h6 style="font-weight: bold;">{{nInvoiceView.costHt| number:'1.0-0':'fr'}} F CFA</h6>

		</div>
	</div>

	<div class="ui-grid-row" style="margin-top: 5px;"
		*ngIf="nInvoiceView.invoiceId">

		<div class="ui-grid-col-8">

			<h6></h6>

		</div>

		<div class="ui-grid-col-2">

			<h6 style="font-weight: bold;">TOTAL TVA ({{nInvoiceView.tax}}%)
				:</h6>

		</div>

		<div class="ui-grid-col-2">

			<h6 style="font-weight: bold;">{{nInvoiceView.costTax| number:'1.0-0':'fr'}} F CFA</h6>

		</div>
	</div>

	<div class="ui-grid-row" style="margin-top: 5px;"
		*ngIf="nInvoiceView.invoiceId">

		<div class="ui-grid-col-8">

			<h6></h6>

		</div>

		<div class="ui-grid-col-2">

			<h6 style="font-weight: bold;">TOTAL TTC :</h6>

		</div>

		<div class="ui-grid-col-2">

			<h6 style="font-weight: bold;">{{nInvoiceView.costTtc| number:'1.0-0':'fr'}} F CFA</h6>

		</div>
	</div>

	<br />

	<div class="alert alert-success" *ngIf="successSave"
		style="margin-top: 20px;">{{ successSave }}</div>

	<br />

	<div class="ui-grid-row">
		<div class="ui-grid-col-6">
			<button type="button" pButton icon="fa fa-check" (click)="update()"
				label="{{SAVE_LABEL}}"></button>
			<button type="button" pButton icon="fa fa-close"
				(click)="cancelUpdateInvoice()" label="Annuler"></button>
		</div>
	</div>
</div>