<form (ngSubmit)="getFiliereStats()">
    <div class="ui-grid ui-grid-responsive ui-fluid" style="margin: 10px;">
        <div class="ui-grid-row">
            <div class="ui-grid-col-3">
                <p-autoComplete [(ngModel)]="schoolYear"
                    (onDropdownClick)="schoolYearDropdown.handleDropdownClick($event)"
                    [suggestions]="schoolYearDropdown.filteredSchoolYears" [dropdown]="true" id="schoolYear"
                    (completeMethod)="schoolYearDropdown.filter($event)" name="schoolYear" field="year" [size]="30"
                    placeholder="Année" [minLength]="1">
                </p-autoComplete>
            </div>

            <div class="ui-grid-col-1"></div>

            <div class="ui-grid-col-2" style="width: 200px; margin: 2px;">
                <button type="submit" pButton icon="fa fa-search" label="Go" style="margin-top: 0px; height: 30px;">
                </button>
            </div>
        </div>
    </div>
</form>



<p-dataTable [value]="filiereStats.listFiliereInfos" expandableRows="true" rowExpandMode="single" [paginator]="true"
    [rows]="15" [responsive]="true" (onRowExpand)="get($event)">

    <p-column expander="true" styleClass="col-icon" [style]="{ 'width': '5%' }"></p-column>

    <p-column *ngFor="let col of cols" [field]="col.field" [style]="col.style" [header]="col.header"
        [sortable]="col.sortable" [filter]="col.filter">

        <ng-template let-row="rowData" pTemplate="body">
            <span *ngIf="col.field === 'pourcentageFilles' || col.field === 'pourcentageGarcons'">
                {{ row[col.field] | number:'1.2-2' }} %
            </span>
            <span *ngIf="col.field !== 'pourcentageFilles' && col.field !== 'pourcentageGarcons'">
                {{ row[col.field] }}
            </span>
        </ng-template>
    </p-column>


    <ng-template pTemplate="rowexpansion" let-filiere>
        <div class="ui-grid ui-grid-responsive ui-fluid" style="margin: 20px;">
            <p><strong>Le(s) Pays de la filière :</strong> {{ filiere.classe }} - {{schoolYear.year}}</p>

            <p-dataTable [value]="filiere.countryStats.listCountryInfos" [responsive]="true" [rows]="15"
                [paginator]="true">

                <!-- <p-column header="N." [style]="{'width':'2%'}">
                    <ng-template let-i="rowIndex" pTemplate="body">
                        {{ i + 1 }}
                    </ng-template>
                </p-column> -->

                <p-column field="pays" header="Pays" [style]="{'width':'15%'}"></p-column>

                <p-column field="totalEtudiants" header="T. Étudiants" [style]="{'width':'10%'}"></p-column>
                <p-column field="nbreFilles" header="Nbre Filles" [style]="{'width':'10%'}"></p-column>
                <p-column field="nbreGarcons" header="Nbre Garçons" [style]="{'width':'10%'}"></p-column>

                <p-column header="% Total" [style]="{'width':'10%'}">
                    <ng-template let-country="rowData" pTemplate="body">
                        {{ country.pourcentageTotal | number:'1.2-2' }} %
                    </ng-template>
                </p-column>

                <p-column header="% Filles" [style]="{'width':'10%'}">
                    <ng-template let-country="rowData" pTemplate="body">
                        {{ country.pourcentageFilles | number:'1.2-2' }} %
                    </ng-template>
                </p-column>

                <p-column header="% Garçons" [style]="{'width':'10%'}">
                    <ng-template let-country="rowData" pTemplate="body">
                        {{ country.pourcentageGarcons | number:'1.2-2' }} %
                    </ng-template>
                </p-column>

            </p-dataTable>
        </div>
    </ng-template>


    <p-footer>
        <table style="width:100%; font-weight:bold; background:rgb(255, 128, 0); border: 2px solid white;">
            <tr>
                <td style="text-align:center; width:15%;">Total </td>
                <td style="text-align:center; width:10%;">{{ filiereStats.totauxInfos?.totalEtudiants || 0 }}</td>
                <td style="text-align:center; width:10%;">{{ filiereStats.totauxInfos?.totalFilles || 0 }}</td>
                <td style="text-align:center; width:10%;">{{ filiereStats.totauxInfos?.totalGarcons || 0 }}</td>
                <td style="text-align:center; width:10%;">{{ filiereStats.totauxInfos?.totalPourcentageFilles |
                    number:'1.2-2' }}%</td>
                <td style="text-align:center; width:10%;">{{ filiereStats.totauxInfos?.totalPourcentageGarcons |
                    number:'1.2-2' }}%</td>
                <td style="text-align:center; width:10%;">{{ filiereStats.totauxInfos?.totalRatioFillesGarcons |
                    number:'1.2-2' }}</td>
            </tr>
        </table>
    </p-footer>
</p-dataTable>


<div style="margin-top: 50px;">

    <h3 style="text-align: center; font-weight: bolder;">Depuis toujours (toutes années confondues)</h3>

    <p-dataTable [value]="globalFiliereStats.listFiliereInfos" expandableRows="true" rowExpandMode="single" [paginator]="true"
    [rows]="15" [responsive]="true" (onRowExpand)="get($event)">

    <p-column expander="true" styleClass="col-icon" [style]="{ 'width': '5%' }"></p-column>

    <p-column *ngFor="let col of cols" [field]="col.field" [style]="col.style" [header]="col.header"
        [sortable]="col.sortable" [filter]="col.filter">

        <ng-template let-row="rowData" pTemplate="body">
            <span *ngIf="col.field === 'pourcentageFilles' || col.field === 'pourcentageGarcons'">
                {{ row[col.field] | number:'1.2-2' }} %
            </span>
            <span *ngIf="col.field !== 'pourcentageFilles' && col.field !== 'pourcentageGarcons'">
                {{ row[col.field] }}
            </span>
        </ng-template>
    </p-column>


    <ng-template pTemplate="rowexpansion" let-filiere>
        <div class="ui-grid ui-grid-responsive ui-fluid" style="margin: 20px;">
            <p><strong>Le(s) Pays de la filière :</strong> {{ filiere.classe }} </p>

            <p-dataTable [value]="filiere.countryStats.listCountryInfos" [responsive]="true" [rows]="15"
                [paginator]="true">

                <!-- <p-column header="N." [style]="{'width':'2%'}">
                    <ng-template let-i="rowIndex" pTemplate="body">
                        {{ i + 1 }}
                    </ng-template>
                </p-column> -->

                <p-column field="pays" header="Pays" [style]="{'width':'15%'}"></p-column>

                <p-column field="totalEtudiants" header="T. Étudiants" [style]="{'width':'10%'}"></p-column>
                <p-column field="nbreFilles" header="Nbre Filles" [style]="{'width':'10%'}"></p-column>
                <p-column field="nbreGarcons" header="Nbre Garçons" [style]="{'width':'10%'}"></p-column>

                <p-column header="% Total" [style]="{'width':'10%'}">
                    <ng-template let-country="rowData" pTemplate="body">
                        {{ country.pourcentageTotal | number:'1.2-2' }} %
                    </ng-template>
                </p-column>

                <p-column header="% Filles" [style]="{'width':'10%'}">
                    <ng-template let-country="rowData" pTemplate="body">
                        {{ country.pourcentageFilles | number:'1.2-2' }} %
                    </ng-template>
                </p-column>

                <p-column header="% Garçons" [style]="{'width':'10%'}">
                    <ng-template let-country="rowData" pTemplate="body">
                        {{ country.pourcentageGarcons | number:'1.2-2' }} %
                    </ng-template>
                </p-column>

            </p-dataTable>
        </div>
    </ng-template>


    <p-footer>
        <table style="width:100%; font-weight:bold; background:rgb(255, 128, 0); border: 2px solid white;">
            <tr>
                <td style="text-align:center; width:15%;">Total </td>
                <td style="text-align:center; width:10%;">{{ globalFiliereStats.totauxInfos?.totalEtudiants || 0 }}</td>
                <td style="text-align:center; width:10%;">{{ globalFiliereStats.totauxInfos?.totalFilles || 0 }}</td>
                <td style="text-align:center; width:10%;">{{ globalFiliereStats.totauxInfos?.totalGarcons || 0 }}</td>
                <td style="text-align:center; width:10%;">{{ globalFiliereStats.totauxInfos?.totalPourcentageFilles |
                    number:'1.2-2' }}%</td>
                <td style="text-align:center; width:10%;">{{ globalFiliereStats.totauxInfos?.totalPourcentageGarcons |
                    number:'1.2-2' }}%</td>
                <td style="text-align:center; width:10%;">{{ globalFiliereStats.totauxInfos?.totalRatioFillesGarcons |
                    number:'1.2-2' }}</td>
            </tr>
        </table>
    </p-footer>
</p-dataTable>

</div>