<p-dialog header="{{DETAIL}}" [(visible)]="displayDialog"
	[responsive]="true" showEffect="fade" [modal]="true">
<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="term">

	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@startDate" for="startDate">Date Debut</label>
		</div>
		<div class="ui-grid-col-7">
			<p-calendar monthNavigator="true" yearRange="1940:2050" yearNavigator="true" id="startDate" name="startDate"
				[(ngModel)]="term.startDate" #startDate="ngModel"></p-calendar>
		</div>
		<div class="ui-grid-col-1"></div>
	</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@endDate" for="endDate">Date Fin</label>
		</div>
		<div class="ui-grid-col-7">
			<p-calendar monthNavigator="true" yearRange="1940:2050" yearNavigator="true" id="endDate" name="endDate" [(ngModel)]="term.endDate"
				#endDate="ngModel"></p-calendar>
		</div>
		<div class="ui-grid-col-1"></div>
	</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@code" for="code">Code</label>
		</div>
		<div class="ui-grid-col-8">
			<input pInputText id="code" [(ngModel)]="term.code" required />
		</div>
	</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@name" for="name">Nom</label>
		</div>
		<div class="ui-grid-col-8">
			<input pInputText id="name" [(ngModel)]="term.name" required />
		</div>
	</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@semestreGroup" for="semestreGroup">Groupe de semestres</label>
		</div>
		<div class="ui-grid-col-7">
			<p-autoComplete [(ngModel)]="term.semestreGroup"
				(onDropdownClick)="semestreGroupDropdown.handleDropdownClick($event)"
				[suggestions]="semestreGroupDropdown.filteredSemestreGroups"
				[dropdown]="true" id="semestreGroup"
				(completeMethod)="semestreGroupDropdown.filter($event)" name="semestreGroup"
				field="name" [size]="30" placeholder="{{SEMESTRE_GROUP}}" [minLength]="1"
				#semestreGroup="ngModel" required></p-autoComplete>
			<div [hidden]="semestreGroup.valid || semestreGroup.pristine"
				class="alert alert-danger" i18n="@@semestreGroupRequired">Groupe de semestres
				Requis</div>
		</div>
		<div class="ui-grid-col-1"></div>
	</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@semester" for="termGroup">Semestre</label>
		</div>
		<div class="ui-grid-col-7">
			<p-autoComplete [(ngModel)]="term.termGroup"
				(onDropdownClick)="termGroupDropdown.handleDropdownClick($event)"
				[suggestions]="termGroupDropdown.filteredTermGroups"
				[dropdown]="true" id="termGroup"
				(completeMethod)="termGroupDropdown.filter($event)" name="termGroup"
				field="name" [size]="30" placeholder="{{SEMESTER}}" [minLength]="1"
				#termGroup="ngModel" required></p-autoComplete>
			<div [hidden]="termGroup.valid || termGroup.pristine"
				class="alert alert-danger" i18n="@@semesterRequired">Semestre
				Requise</div>
		</div>
		<div class="ui-grid-col-1"></div>
	</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@lastQuater" for="showFinalRank">Dernier
				trimestre?</label>
		</div>
		<div class="ui-grid-col-8">
			<p-checkbox [(ngModel)]="term.showFinalRank" binary="true"
				id="showFinalRank"></p-checkbox>
		</div>
	</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@description" for="description">Description</label>
		</div>
		<div class="ui-grid-col-8">
			<input pInputText id="description" [(ngModel)]="term.description"
				required />
		</div>
	</div>

</div>
<br />
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<footer>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" pButton icon="fa fa-close" (click)="delete()"
			label="{{DELETE_LABEL}}"></button>
		<button type="button" pButton icon="fa fa-check" (click)="save()"
			label="{{SAVE_LABEL}}"></button>
	</div>
</footer> </p-dialog>


<p-dataTable [value]="terms" selectionMode="single"
	[(selection)]="selectedTerm" (onRowSelect)="onRowSelect($event)"
	[paginator]="true" [rows]="15" [responsive]="true"> <p-column
	*ngFor="let col of cols" [field]="col.field" [header]="col.header"
	[sortable]="col.sortable" [filter]="col.filter"> <ng-template
	*ngIf="col.type === 'Date'" let-col let-data="rowData" pTemplate
	type="body"> <span class="col-date">{{ data[
	col.field ] | date:'dd/MM/yy' }}</span> </ng-template> </p-column> <ng-template
	pTemplate="paginatorLeft">
<button type="button" (click)="showDialogToAdd()" pButton
	icon="fa fa-plus-circle"></button>
</ng-template> <ng-template pTemplate="paginatorRight">
<button type="button" (click)="getAll()" pButton icon="fa fa-refresh"></button>
</ng-template> </p-dataTable>
