<file-uploader></file-uploader>

<p-dialog header="{{DETAIL}}" [(visible)]="displayDialog"
	[responsive]="true" showEffect="fade" [modal]="true" width="850">
<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="studentProject">

	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			<label i18n="@@studentProjectCategory" for="studentProjectCategory">Théme</label>
		</div>
		<div class="ui-grid-col-10">
			<p-autoComplete [(ngModel)]="studentProject.studentProjectCategory"
							(onDropdownClick)="studentProjectCategoryDropdown.handleDropdownClick($event)"
							[suggestions]="studentProjectCategoryDropdown.filteredStudentProjectCategories" [dropdown]="true"
							id="studentProjectCategory" (completeMethod)="studentProjectCategoryDropdown.filter($event)"
							name="studentProjectCategory" field="name" [size]="30" placeholder="Thème du projet"
							[minLength]="1" #college="ngModel"></p-autoComplete>
			<!--div [hidden]="studentProjectCategory.valid || studentProjectCategory.pristine"
				 class="alert alert-danger" i18n="@@levelRequired">Catégorie
				Requise</div-->
		</div>
		<div class="ui-grid-col-1"></div>
	</div>

	<br />

	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			<label i18n="@@name" for="name">Nom</label>
		</div>
		<div class="ui-grid-col-10">
			<input pInputText id="name" [(ngModel)]="studentProject.name" />
		</div>
	</div>

	<br />

	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			<label i18n="@@description" for="description">Description</label>
		</div>
		<div class="ui-grid-col-10">
			<p-editor [(ngModel)]="studentProject.description" [style]="{'height':'250px'}"
				id="description"></p-editor>
		</div>
	</div>
</div>


<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<footer>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" pButton icon="fa fa-close" (click)="delete()"
			label="{{DELETE_LABEL}}"></button>
		<button type="button" pButton icon="fa fa-check" (click)="save()"
			label="{{SAVE_LABEL}}"></button>
	</div>
</footer> </p-dialog>



<p-dialog header="{{DETAIL}}" [(visible)]="displayPhasesDialog"
	[responsive]="true" showEffect="fade" [modal]="true" width="850">
<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="studentProject">

	<br />
	<div class="ui-grid ui-grid-responsive ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-12">
				<p-dataTable [value]="studentsProjectsPhasesView" sortField="ordreExecution" [editable]="false"
							 [paginator]="true" [rows]="15">
					<p-column field="name" header="Phase" [style]="{'width':'50%'}"> </p-column>

					<p-column [style]="{'width':'15%'}" field="percentage" header="Pourcentage"></p-column>
					<p-column [style]="{'width':'15%'}" field="ordreExecution" header="Ordre d'exécution"></p-column>
					<p-column field="studentId" header="actions">
					<ng-template let-data="rowData" let-rowIndex="rowIndex" pTemplate
								 type="body">

						<button *ngIf="data.studentProjectTopicPhaseId" type="button" pButton
								icon="fa fa-minus" style="float: left"
								(click)="deletePhaseToStudentProjectTopic(data)" label="Supprimer"></button>
						<button *ngIf="!data.studentProjectTopicPhaseId" type="button" pButton
								icon="fa fa-plus" style="float: left" (click)="addPhaseToStudentProjectTopic(data)"
								label="Ajouter"></button>
					</ng-template>
					</p-column>

					<p-footer></p-footer>
				</p-dataTable>
			</div>
		</div>
	</div>

</div>


<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<footer>
	<!--div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" pButton icon="fa fa-close" (click)="delete()"
			label="{{DELETE_LABEL}}"></button>
		<button type="button" pButton icon="fa fa-check" (click)="save()"
			label="{{SAVE_LABEL}}"></button>
	</div-->
</footer> </p-dialog>


<form (ngSubmit)="searchProject()" #searchStudentProjectForm="ngForm">
	<!--div class=""-->
	  <div class="ui-grid ui-grid-responsive ui-fluid">
		<div class="ui-grid-row">

			<div class="ui-grid-col-8">
				<p-autoComplete [(ngModel)]="theCategory"
								(onDropdownClick)="studentProjectCategoryDropdown.handleDropdownClick($event)"
								[suggestions]="studentProjectCategoryDropdown.filteredStudentProjectCategories" [dropdown]="true"
								id="studentProjectCategory" (completeMethod)="studentProjectCategoryDropdown.filter($event)"
								name="studentProjectCategory" field="name" [size]="30" placeholder="Sélectionnez le thème"
								[minLength]="1" #college="ngModel"></p-autoComplete>
			</div>
		  <div class="ui-grid-col-1"></div>
		  <div class="ui-grid-col-2">
			<button type="button" pButton icon="fa fa-search" (click)="searchProject()" label="Go"
			  style="margin-top: 0px; height: 35px;"></button>
		  </div>
		</div>
	
	  </div>
	<!--/div-->
	</form>

<p-dataTable [value]="studentsProjects" selectionMode="single"
	[(selection)]="selectedStudentProject" expandableRows="true"
	(onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15"
	(onRowExpand)="onRowExpand($event)"
	[responsive]="true"> <p-column expander="true"
	styleClass="col-icon" [style]="{'width':'5%'}"></p-column> <p-column
	*ngFor="let col of cols" [field]="col.field" [header]="col.header"
	[sortable]="col.sortable" [filter]="col.filter" [style]="col.style">

<ng-template *ngIf="col.type === 'Date'" let-col let-data="rowData"
	pTemplate type="body"> <span class="col-date">{{
	data[col.field ] | date:'dd/MM/yy' }} </span> </ng-template> <ng-template
	*ngIf="col.type === 'text'" let-col let-data="rowData" pTemplate
	type="body">
<div [innerHTML]="data[ col.field ]"></div>
</ng-template> </p-column> <p-column field="id" header="actions" [style]="{'width':'12%'}">
<ng-template let-data="rowData" let-rowIndex="rowIndex" pTemplate
	type="body">
	<button type="button" pButton icon="fa fa-edit" (click)="getProjectPhases(data)"
			label="Phases"></button>
	<button type="button" pButton icon="fa fa-download" (click)="showDialogToUploadProjectDescription(data)"
			label="Document"></button>
</ng-template> </p-column>

<ng-template let-studentProject pTemplate="rowexpansion">
<div class="ui-grid ui-grid-responsive ui-fluid"
	style="font-size: 16px; padding: 20px">
	<div class="ui-grid-row">

		<div class="page-row">
			<div [innerHTML]="studentProject.description"></div>
		</div>

		<div class="ui-grid-col-2">
			<!--//page-row-->
			<!--//page-row-->

			<!--img *ngIf="level" class="thumb"
				src="assets/images/level/{{level.pic}}" alt="" /-->
		</div>

	</div>
</div>
</ng-template>

<ng-template pTemplate="paginatorLeft">
<button type="button" (click)="showDialogToAdd()" pButton
	icon="fa fa-plus-circle"></button>
</ng-template> <ng-template pTemplate="paginatorRight">
<button type="button" (click)="getAll()" pButton icon="fa fa-refresh"></button>
</ng-template> </p-dataTable>

<!-- Initialize Quill editor -->
<script>
	var quill = new Quill('#editor', {
		theme : 'bubble'
	});
</script>