<file-uploader></file-uploader>

<p-dialog header="{{DETAIL}}" [(visible)]="displayDialog"
	[responsive]="true" showEffect="fade" [modal]="true" width="800">
<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="news">
	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@date" for="newsDate">Date</label>
		</div>
		<div class="ui-grid-col-8">
			<p-calendar monthNavigator="true" yearRange="1940:2050" yearNavigator="true" id="newsDate" [showIcon]="false"
				[(ngModel)]="news.newsDate"></p-calendar>
		</div>
	</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@title" for="title">Titre</label>
		</div>
		<div class="ui-grid-col-8">
			<input pInputText id="title" [(ngModel)]="news.title" required />
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@message" for="message">Message</label>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-12">
			<p-editor [(ngModel)]="news.message" [style]="{'height':'320px'}"></p-editor>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@author" for="author">Auteur</label>
		</div>
		<div class="ui-grid-col-8">
			<input pInputText id="author" [(ngModel)]="news.author" />
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@active" for="status">Active</label>
		</div>
		<div class="ui-grid-col-8">
			<p-checkbox [(ngModel)]="news.status" binary="true" id="status"></p-checkbox>
		</div>

	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-4">
			<label i18n="@@rank" for="rank">Rank</label>
		</div>
		<div class="ui-grid-col-8">
			<input pInputText id="rank" [(ngModel)]="news.ranking"/>
		</div>
	</div>
</div>
<br />
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<footer>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" pButton icon="fa fa-close" (click)="delete()"
			label="Supprimer"></button>
		<button type="button" pButton icon="fa fa-check" (click)="save()"
			label="Sauvegarder"></button>
	</div>
</footer> </p-dialog>


<p-dataTable [value]="newss" selectionMode="single"
	[(selection)]="selectedNews" expandableRows="true"
	(onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15"
	[responsive]="true"> <p-column expander="true"
	styleClass="col-icon" [style]="{'width':'5%'}"></p-column> <p-column
	*ngFor="let col of cols" [field]="col.field" [header]="col.header"
	[style]="col.style" [sortable]="col.sortable" [filter]="col.filter">
<ng-template *ngIf="col.type === 'string' || col.type === undefined"
	let-col let-data="rowData" pTemplate type="body"> <span
	class="col-string">{{ data[ col.field ] }}</span> </ng-template> <ng-template
	*ngIf="col.type === 'Date'" let-col let-data="rowData" pTemplate
	type="body"> <span class="col-date">{{ data[
	col.field ] | date:'dd/MM/yy' }}</span> </ng-template> </p-column> 
	
	<p-column field="id"
	header="actions" [style]="{'width':'7%'}"> <ng-template
	let-data="rowData" let-rowIndex="rowIndex" pTemplate type="body">
		<button type="button" pButton icon="fa fa-picture-o" style="float: left"
	(click)="showDialogToUploadImage(data)"></button>
		</ng-template> 

</p-column> 

<ng-template let-news pTemplate="rowexpansion">
<div class="ui-grid ui-grid-responsive ui-fluid"
	style="font-size: 16px; padding: 20px">
	<div class="ui-grid-row">
		<div class="ui-grid-col-12">
			<h2 class="title">
				<a href="#/newsSingle" (click)="setCurrentNews(news)">{{news.title}}</a>
			</h2>
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			<img class="thumb" src="assets/images/news/{{news.pic}}" alt="" />
		</div>
		<div [innerHTML]="news.message" class="ui-grid-col-10">

			<a class="read-more" href="#/newsSingle"
				(click)="setCurrentNews(news)" i18n="@@readMore">Lire la suite<i
				class="fa fa-chevron-right"></i></a>
		</div>
	</div>

</div>
</ng-template> <ng-template pTemplate="paginatorLeft">
<button type="button" (click)="showDialogToAdd()" pButton
	icon="fa fa-plus-circle"></button>
</ng-template> <ng-template pTemplate="paginatorRight">
<button type="button" (click)="getAll()" pButton icon="fa fa-refresh"></button>
</ng-template> </p-dataTable>
<!--//page-->
<!-- Initialize Quill editor -->
<script>
	var quill = new Quill('#editor', {
		theme : 'bubble'
	});
</script>