<p-growl [(value)]="msgs"></p-growl>

<form (ngSubmit)="search()" #searchForm="ngForm">
	<div class="ui-grid ui-grid-responsive ui-fluid">
		<div class="ui-grid-row">
			<div class="ui-grid-col-10">
				<input type="text" pInputText class="form-control" id="searchT"
					required [(ngModel)]="searchText"
					placeholder="{{PROFORMA_SEARCH_TEXT}}" name="searchTT"
					#searchTT="ngModel">
			</div>
			<div class="ui-grid-col-2">
				<button type="button" pButton icon="fa fa-search" (click)="search()"
					label="Go" style="margin-top: 0px; height: 35px;"></button>
			</div>
		</div>

	</div>
</form>

<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<p-dataTable [value]="userLevelViews" [paginator]="true" [rows]="15"
	expandableRows="true"
	
	[responsive]="true" [editable]="true"> <p-column
	expander="true" styleClass="col-icon" [style]="{'width':'3%'}"></p-column>

<p-column *ngFor="let col of cols" [style]="col.style"
	[field]="col.field" [header]="col.header" [sortable]="col.sortable"
	[editable]="col.editable" [filter]="col.filter"> <ng-template
	*ngIf="col.type === 'Date'" let-col let-data="rowData" pTemplate ="body"> <span>
		 <p-calendar appendTo="body" monthNavigator="true" yearRange="1940:2050" yearNavigator="true" id="visitDate"  placeholder="dd/mm/yyyy"
         [(ngModel)]="data.visitDate"></p-calendar>
	</span> 
</ng-template> 
</p-column> <!--p-column [field]="invoiceDetails.totalCost" header="Total" [style]="{'width':'10%'}"> <ng-template
        let-data="rowData" let-rowIndex="rowIndex" pTemplate type="body">
</ng-template> </p-column--> 

	<p-column field="informationChannel.name" header="Cannal d'informations" [style]="{'overflow':'visible', 'width':'22%'}">
		<ng-template let-col let-informationChannel="rowData" pTemplate="body">
			<p-autoComplete (onDropdownClick)="informationChannelDropdown.handleDropdownClick($event)" (onSelect)="informationChannelSelected($event)"
				[suggestions]="informationChannelDropdown.filteredInformationChannels" [dropdown]="true" id="iChannel"
				(completeMethod)="informationChannelDropdown.filter($event)" name="iChannel" field="name" placeholder="Canal utilisé"
				[minLength]="1"></p-autoComplete>
		</ng-template>
	</p-column>
	<!-- <p-column [editable]="true" header="Date visite" [style]="{'width':'16%'}">
		
			 <p-calendar monthNavigator="true" yearRange="1940:2050" yearNavigator="true" id="visitDate" [showIcon]="true" placeholder="dd/mm/yyyy"
         [(ngModel)]="visitDate" ></p-calendar>
		
	</p-column> -->
	

<p-column field="id" header="actions"
	[style]="{'width':'9%'}"> <ng-template let-data="rowData"
	let-rowIndex="rowIndex" pTemplate type="body">
<button type="button" pButton icon="fa fa-plus-circle"
	style="float: left" (click)="saveUserLevel(data)" label="Ajouter"></button>
</ng-template> </p-column> <ng-template let-cv pTemplate="rowexpansion">
<div class="ui-grid ui-grid-responsive ui-fluid"
	style="font-size: 16px; padding: 20px"></div>
</ng-template> <p-footer></p-footer> </p-dataTable>



<br />
<br />
<button type="button" class="btn btn-primary">
	<span class="badge badge-light">*</span>Les cours enregistres
</button>
<p-dataTable [value]="registeredUseronlineregistration" [paginator]="true" [rows]="15"
	expandableRows="true" [responsive]="true" *ngIf="registeredUseronlineregistration"
	(onRowExpand)="getCourseViewPreReqs($event); getViewTimeTables($event)">
<p-column expander="true" styleClass="col-icon" [style]="{'width':'3%'}"></p-column>
<p-column *ngFor="let col of colregs" [style]="col.style"
	[field]="col.field" [header]="col.header" [sortable]="col.sortable"
	[filter]="col.filter"> <ng-template
	*ngIf="col.type === 'Date'" let-col let-data="rowData" pTemplate
	type="body"> <span class="col-date">{{data[
	col.field ] | date:'dd/MM/yy' }}</span> </ng-template>
</p-column>

	<p-column
	*ngIf=" loggedInUser.role==1||loggedInUser.role==5||loggedInUser.role==2 "
	field="id" header="actions" [style]="{'width':'12%'}">
		<ng-template
	let-data="rowData" let-rowIndex="rowIndex" pTemplate type="body">
<button type="button" pButton icon="fa fa-times-circle"
	(click)="deleteUserOnlineregistration(data)" label="Supprimer"></button>
</ng-template>
	</p-column>
	<ng-template let-cv pTemplate="rowexpansion">


</ng-template> <p-footer></p-footer> </p-dataTable>
