<file-uploader></file-uploader>

<p-dialog header="Details" [(visible)]="displayDialog"
	[responsive]="true" showEffect="fade" [modal]="true" width="480">
<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="configuration">
	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			<label i18n="@@name" for="name">Nom</label>
		</div>
		<div class="ui-grid-col-10">
			<input pInputText id="name" disabled [(ngModel)]="configuration.name" />
		</div>
	</div>
	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			<label i18n="@@description" for="description">Description</label>
		</div>
		<div class="ui-grid-col-10">
			<input pInputText id="description" disabled
				[(ngModel)]="configuration.description" />
		</div>
	</div>

	<div class="ui-grid-row">
		<div class="ui-grid-col-2">
			<label i18n="@@value" for="value">Valeur</label>
		</div>
		<div class="ui-grid-col-10">
			<input pInputText id="value" [(ngModel)]="configuration.value" />
		</div>
	</div>
</div>

<div *ngIf="error" class="alert alert-danger">{{error}}</div>

<footer>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" pButton icon="fa fa-check" (click)="save()"
			label="{{SAVE_LABEL}}"></button>
	</div>
</footer> </p-dialog>


<p-dataTable [value]="configurations" selectionMode="single"
	[(selection)]="selectedConfiguration" expandableRows="true"
	(onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15"
	[responsive]="true"> <p-column *ngFor="let col of cols"
	[field]="col.field" [header]="col.header" [sortable]="col.sortable"
	[filter]="col.filter"> <ng-template
	*ngIf="col.type === 'string' || col.type === undefined" let-col
	let-data="rowData" pTemplate type="body"> <span
	class="col-string">{{ data[ col.field ] }}</span> </ng-template> <ng-template
	*ngIf="col.type === 'Date'" let-col let-data="rowData" pTemplate
	type="body"> <span class="col-date">{{ data[
	col.field ] | date:'dd/MM/yy' }}</span> </ng-template> <ng-template
	*ngIf="col.type === 'text'" let-col let-data="rowData" pTemplate
	type="body">
<div [innerHTML]="data[ col.field ]"></div>
</ng-template> </p-column> <ng-template pTemplate="paginatorLeft">
<button type="button" (click)="showDialogToAdd()" pButton
	icon="fa fa-plus-circle"></button>
</ng-template> <ng-template pTemplate="paginatorRight">
<button type="button" (click)="getAll()" pButton icon="fa fa-refresh"></button>
</ng-template> </p-dataTable>

<!-- Initialize Quill editor -->
<script>
	var quill = new Quill('#editor', {
		theme : 'bubble'
	});
</script>