<p-dialog header="{{DETAIL}}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
  width="450" height="370">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="cico">
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        <label i18n="@@date" for="eventDate">Debut</label>
      </div>
      <div class="ui-grid-col-9">
        <p-calendar monthNavigator="true" yearRange="1940:2050" showTime="true" yearNavigator="true" id="ci"
          [(ngModel)]="cico.ci">
        </p-calendar>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        <label i18n="@@date" for="eventDate">Fin</label>
      </div>
      <div class="ui-grid-col-9">
        <p-calendar monthNavigator="true" yearRange="1940:2050" showTime="true" yearNavigator="true" id="co"
          [(ngModel)]="cico.co">
        </p-calendar>
      </div>
    </div>
    <br><br>
    <div style="color:rgb(20, 20, 128); font-weight: bolder;padding: 15px;">{{message}}</div>
    
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="delete()" label="{{DELETE_LABEL}}"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="{{SAVE_LABEL}}"></button>
    </div>
  </footer>
</p-dialog>


<p-dataTable [value]="cicos" selectionMode="single" [(selection)]="selectedCico"
  (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15" [responsive]="true">
  <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="col.sortable"
    [filter]="col.filter">
    <ng-template *ngIf="col.type === 'string' || col.type === undefined" let-col let-data="rowData" pTemplate
      type="body"> <span class="col-string">{{ data[ col.field ] }}</span> </ng-template>
    <ng-template *ngIf="col.type === 'Date'" let-col let-data="rowData" pTemplate type="body"> <span class="col-date">{{ data[
	col.field ] | date:'dd/MM/yyyy HH:mm:ss' }}</span> </ng-template>
  </p-column>
  
  <ng-template pTemplate="paginatorLeft">
	  <!--
    <button type="button" (click)="showDialogToAdd()" pButton icon="fa fa-plus-circle"
	  *ngIf="currentUser.role===1||currentUser.role===5"></button>
	  -->
  </ng-template>
  <ng-template pTemplate="paginatorRight">
    <button type="button" (click)="getAll()" pButton icon="fa fa-refresh"></button>
  </ng-template>
</p-dataTable>
