
<div class="page-wrapper">
    <header class="page-heading clearfix">
        <div class="row page-row">
            <div class="col-md-9 col-sm-8">
                <h1 class="heading-title pull-left">
                   Financer ses études : Bourses, Aides, & Prêts 
                    <span style="position: relative;/* left: 4%*/; top: 10px;">
                      <!--div class="fb-like" data-href="http://www.ipnetinstitute.com/#/projetsProfesionnels" data-width=""
                           data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                      </div-->
                      <div class="fb-like" data-href="http://www.ipnetinstitute.com/#/BourseAidePret" data-width=""
                           data-layout="standard" data-action="like" data-size="small" data-show-faces="true"
                           data-share="true">
                      </div>
                    </span>
                </h1>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">

                        <li class="breadcrumbs-label">Vous etes ici:</li>
                        <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                        <li class="current"> Bourses, Aides, & Prêts</li>

                    </ul>
                </div>
            </div>
        </div>
    </header>

	<div class="page-content">
		<div class="row page-row">
			<div class="course-wrapper col-md-8 col-sm-7">
				<article class="course-item">
					<p class="featured-image page-row" style="margin-bottom: 30px !important;">
						<img class="img-responsive"
							src="assets/images/bourse.JPG" alt="" />
					</p>

            <p>
                        Il existe de nombreuses options de bourses, aides et Prêts pour le financement de vos études
						 à  IPNET INSTITUTE OF TECHNOLOGY. Ce sont :
			</p>
			 <ul>
							  <li style="font-weight: bold;"> Bourse sur critères sociaux ;</li>
							  <li> <span style="font-weight: bold;"> Aide au mérite </span> (exemption partielle ou totale des frais de scolarité, allocations mensuelles) ;</li>
								<li> <span style="font-weight: bold;"> Remboursez une fois vos études terminées </span>  (Study Now & Pay Later)</li>
								<li> <span style="font-weight: bold;"> Travailler durant ses études</span></li>
								<li> <span style="font-weight: bold;"> Subventions et bourses payées par des tiers</span></li>
			  </ul>
            <p>
		                Ces bourses, aides et prêts sont accordés sur la base de critères très sélectifs, et des données
						vérifiables, le tout dans le respect des quotas du nombre de boursiers par rapport   à    l’effectif global
						de l’Ecole. Il est possible de cumuler certaines de ces bourses.
				  </p>
				  
					 <p>
						  Pour tout renseignement concernant les bourses, les aides et les Prêts, toutes les informations sont
						fournies sur cette page web consacrée aux bourses, aides et Prêts :
					 </p>
						<ul>
							<li>Tableau comparatif entre ces différentes options ;</li>
							<li>La description détaillée de chaque programme de bourses, d’aide ou de prêt est transmise à tout demandeur de bourse éligible ;</li>
							<li>Fiche de soumission de candidature que devra <a href="docs/IPNET_IT_FORMULAIRE_DE_DEMANDE_DE_BOURSE.pdf" target="_blank">télécharger </a> 
								tout candidat. Vous pouvez également soumettre votre dossier de candidature en remplissant le formulaire en ligne en cliquant ici</li>
						</ul>
				  
				  <P>
					  Pour retirer les dossiers physiques de candidature sur ces aides, un interlocuteur privilégié : 
						<a href="#/contact">le SSAA (Service Scolarité et Affaires Académiques).</a>
				  </P>
					
					<!--<h2>Les bourses sur critères sociaux (bcs)</h2>
					<ol>
						<li>Bourse IPNET aux personnes vulnérables :</li>
						<ul><li>Reduction 20% ou 40% des frais de Scolarité attribuée selon la règle du plus nécessiteux parmi les plus méritants. Les frais d’étude 
							de dossier et d’inscription ne sont pas couverts ;</li>
							<li>Destiné aux filles/femmes, aux jeunes issus des milieux défavorisés et aux groupes vulnérables : les veuves, les réfugiés, 
								les migrants, les déplacés, les handicapés</li>
							<li>Nationalité : togolaise seulement (pour l’instant)</li>
						</ul>
						<ul>
							<li>Allocation mensuelle d’un montant de 137&#8364; (Cent trente-sept euros) pour les Masters et 80 &#8364;
							(Quatre-vingt euros) pour les Licences et le Certificat en Administration Réseaux,
							Systèmes & Cybersécurité en 15 mois;</li>
							<li>Destinées aux filles/femmes, aux jeunes issus des milieux défavorisés et aux groupes
							vulnérables : les veuves, les réfugiés, les migrants, les déplacés, les handicapés;</li>
							<li>Sont éligibles, dans certains cas, à l’Exemption de 50% des frais de Scolarité ;</li>
							<li>Nationalité : tous les pays Africains.</li>
							
						</ul>-->
						<!--<a style="color: #333; padding-left: 3%;" 
									href="docs/IPNET_IT_FORMULAIRE_DE_DEMANDE_DE_BOURSE.pdf" target="_blank">
									<i class="fa fa-cloud-download" ></i>Télécharger le formulaire de demande de bourse
								</a>-->
						<!--<li style="margin-top: 10px;">Exemption de frais de scolarité aux personnes vulnérables :</li>-->
						<!--<li style="margin-top: 10px;">Pour l’année académique 2021 – 2022, cette bourse concerne seulement les filières suivantes :</li>
						<ul>
							<li>Licence Informatique & Gestion; </li>
							<li>Licence Webdesign, Infographie & Multimédia ;</li>
							<li>Licence Intégrée Mathématiques & Informatique ;</li>
							<li>icence Développement Web & Mobile</li>
							<li>Licence Génie Logiciel</li>
							<li>Licence Cybersécurité</li>
						</ul>
						<a style="color: #333; padding-left: 3%;"
									href="docs/IPNET_IT_FORMULAIRE_DE_DEMANDE_DE_BOURSE.pdf" target="_blank">
									<i class="fa fa-cloud-download" ></i>Télécharger le formulaire de demande de bourse
								</a>
								
						<li>Vous avez de bons résultats et avez des parents au revenu modeste, venez avec des preuves pour bénéficier 
							d'une remise de 20 à 40 %, chaque année, sur les 3 ans de la licence</li>
							<ul>
							Les conditions à remplir
								<ul>
									<li>BAC II édition 2021 ou 2020 : séries : C, D, E, F, G2, G3, A4, avec au moins 11/20 de moyenne</li>
									<li>Date limite de dépôt de candidature : 15 octobre 2021 a 17h30 GMT</li>
									<li>Nombre de places limitées</li>
									<li>Pieces à fournir;</li>
									<li>Deux photos passeport;</li>
									<li>Photocopie légalisée de l’attestation du BAC II ;</li>
									<li>Photocopie légalisée du relevé de notes du BAC II ;</li>
									<li>Copies légalisées des pièces d’état civil : naissance, nationalité, pièce d’identité ;</li>
									<li>Joindre la fiche de demande de bourse IPNET-BCS à remplir sur place ou en ligne.</li>
								</ul>
								Contact +228 99 89 13 75 / 99 31 07 14 ou ipnet@ipnetinstitute.com
							</ul>
			    </ol>-->
					<!--<h2>Aide au mérite</h2>
					<ol>
									<li>Bourse d’excellence IPNET INSTITUTE OF TECHNOLOGY</li>
									<ul>
										<li>Exemption de 50% ou 100% des frais de Scolarité ;</li>
										<li>Sélection basée sur la performance scolaire ou sur un acte qui témoigne d’un
											Leadership certain du candidat;</li>
										<li>Le candidat doit avoir obtenu la mention "bien" ou plus au BAC II;</li>
										<li>Nationalité : tous les pays Africains.</li>
									</ul>
										<a style="color: #333; padding-left: 3%;"
									href="docs/IPNET_IT_FORMULAIRE_DE_DEMANDE_DE_BOURSE.pdf" target="_blank">
									<i class="fa fa-cloud-download" ></i>Télécharger le formulaire de demande de bourse
								</a>
									<li style="margin-top: 10px;">Concours d’entrée et réduction de frais de scolarité de 10   à   50%</li>
									<ul>
										<li>Un concours d’entrée en 1ere année de Licence est organisé chaque année ;</li>
										<li>Une réduction de 10   à   50% sur les frais de scolarité est accordée aux candidats sur la
											base de leur classement au concours ;</li>
										<li>Les candidats sont évalués en Anglais, leadership et culture générale par un test
											automatique en ligne ;</li>
										<li>Nationalité : tous les pays Africains.</li>
									</ul>
									<a style="color: #333; padding-left: 3%;"
									href="docs/IPNET_IT_FORMULAIRE_DE_DEMANDE_DE_BOURSE.pdf" target="_blank">
									<i class="fa fa-cloud-download" ></i>Télécharger le formulaire de demande de bourse
								</a>
						</ol>-->

							<!--<h2>Remboursez une fois vos études terminées “Study Now & Pay Later”</h2>
						<ol>
									<li>Programme (STUDY NOW AND PAY LATER), sponsorisé PAR IPNET INSTITUTE OF
									TECHNOLOGY</li>
									<ul>
										<li>L’étudiant (e) ne paye pas les frais de scolarité qu’une fois les études achevées ;</li>
										<li>Les études sont préfinancées par IPNET INSTITUTE OF TECHNOLOGY ;</li>
										<li>Durée maximale pour achever le remboursement   à   partir de la date de fin des études :
											36 mois ;</li>
										<li>Nationalité : tous les pays Africains.</li>
									</ul>
								<a style="color: #333; padding-left: 3%;"
									href="docs/PROGRAMME-STUDY-NOW-AND-PAY-LATER-SPONSORISE-PAR-IPNET-INSTITUTE-OF-TECHNOLOGY.pdf" target="_blank">
									<i class="fa fa-cloud-download" ></i>Téléchargé la description détaillée de la bourse
								</a> 
									<li style="margin-top: 10px;">Programme (STUDY NOW AND PAY LATER), sponsorisé par les institutions
										financière et Opérateurs Télécoms</li>
									<ul>
										<li>L’étudiant (e) ne paye pas les frais de scolarité qu’une fois les études achevées ;</li>
										<li>Les études sont préfinancées par les banques et autres institutions financières ;</li>
										<li>Durée maximale pour achever le remboursement   à   partir de la date de fin des études : 36 mois ;</li>
										<li>Nationalité : tous les pays Africains.</li>
									</ul>
								<a style="color: #333; padding-left: 3%;"
									href="docs/PROGRAMME-STUDY-NOW-AND-PAY-LATER-SPONSORISE-PAR-LES-BANQUES-ET-INSTITUTIONS-FINANCIERES.pdf" target="_blank">
									<i class="fa fa-cloud-download" ></i>Téléchargé la description détaillée de la bourse
								</a>
								
			  			  </ol>-->
									<!--<h2>Travailler durant ses études</h2>
								<ol>
									<li><span style="font-weight: bold;">Un job étudiant</span> <br/>
										Occuper à temps partiel un emploi en parallèle des études permet à la fois d’être rémunéré et d’acquérir une première expérience professionnelle. 
										Mais n’oubliez pas que vous êtes avant tout étudiant et que vous allez devoir vous organiser pour gérer le tout. Optez ainsi pour des contrats de 5 
										à 20 heures par semaine, selon vos besoins. <br/>
										Les jobs étudiants comprennent par exemple la gestion des Laboratoires de Travaux Pratiques. Il existe aussi des formules qui permettent d’être 
										rémunéré pour des missions au Service Scolarité et des Affaires Académiques. Les candidats retenus signeront un contrat de travail à temps partiel 
										(job étudiant) en bonne et due forme.
									</li>
									<li>
										<span>Opter pour l’alternance</span> <br/>
										<span>
											En choisissant de faire vos études en alternance, non seulement vous recevrez une formation concrète et reconnue par le monde de l’entreprise, 
										mais vous serez aussi rémunéré. Autrement dit, c’est tout à votre avantage !
										</span> <br/>
										Avec l’Option Alternance par exemple, les étudiants de 3ème année de Licence et ceux inscrits au Master qui ont conduit avec brio leurs 
										projets professionnels, peuvent être retenus pour :
										<ul>
											<li>Assister leurs cadets à faire leurs travaux pratiques dans les Laboratoires</li>
											<li>Assister leurs cadets dans la mise en œuvre de leurs projets professionnels sous la supervision d’un Ingénieur Senior</li>
										</ul>
										Les candidats retenus signeront un contrat de travail à temps partiel (Option Alternance) en bonne et due forme, contrats de 
										5 à 20 heures par semaine, selon vos besoins. 
									</li>
								</ol>-->

								<!--<h2>Subventions Et Bourses Payées Par Des Tiers</h2>
								<ol>
									<li>
										<span style="font-weight: bold;">Subvention des frais de Scolarité par l’ONG REICID </span> <br/>
										L’ONG REICID (Responsabilité et Initiatives Citoyennes pour le Développement) 
										à travers le Projet d’Aide aux Populations du Togo (PAP-TOGO) 
									</li>
									<li>
										<span style="font-weight: bold;">Montant de la subvention </span> <br/>
										Le montant de la subvention par étudiant est évalué à 35% du montant 
										total de ses frais de scolarité annuelle.  
									</li>
									<li>
										<span style="font-weight: bold;">Les conditions d’éligibilité </span> <br/>
										<ul>
											<li>Être titulaire du baccalauréat II.</li> 
											<li>
												Présenter un reçu d’inscription dans une école privée d’enseignement supérieur,
												d’un établissement de formation professionnelle
												ou toute autre preuve du choix de l’établissement de fréquentation.
											</li> 
											<li>Avoir une scolarité annuelle située entre 100 000 et 600 000 FCFA.</li> 
											<li>
												Faire les formalités d’inscription au programme de subvention
												scolaire et verser une somme de 15 000 FCFA.
											</li> 
											<li>Verser 65% de la scolarité annuelle au programme.</li> 
											<li>Signer un contrat de subvention de la scolarité avec PAP-TOGO.</li> 
										</ul>
										
									</li>
									<li>
										<span style="font-weight: bold;">Durée du contrat </span> <br/>
										<ul>
											<li>Ce contrat est conclu pour une durée d’un (01) an renouvelable.</li>  
										</ul>
										
									</li>
								</ol>-->
                   

				</article>
				<!--//course-item-->

					<div class="row page-row">

						<!--//page-row-->
				<div class="tabbed-info page-row">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab">Les bourses sur critères sociaux (BCS)</a></li>
					<li><a href="#tab2" data-toggle="tab">Aide au mérite</a></li>
					<li><a href="#tab3" data-toggle="tab">Study Now & Pay Later</a></li>
					<li><a href="#tab4" data-toggle="tab">Travailler durant ses études</a></li>
					<li><a href="#tab5" data-toggle="tab">Subventions et bourses payées par des tiers</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
										
											<a class="btn btn-theme d-inline" target="_blank"
											href="docs/IPNET_IT_FORMULAIRE_DE_DEMANDE_DE_BOURSE.pdf" ><i class="fa fa-download"></i>Formulaire de demande de bourse</a>
											<a style="margin-left: 2px;" class="btn btn-theme d-inline"
											href="#/bourseOnline"><i class="fa fa-play-circle"></i>Formulaire de demande de bourse en ligne</a>
											
									<div class="table-responsive">
											<table  border="1" style="margin-top: 20px;">
												<thead>
													<tr>
														<th style="width: 15%; padding: 10px;"> CATEGORIE </th>
														<th style="width: 10%; padding: 10px;">CODE BOURSE</th>
														<th style="width: 10%; padding: 10px;">NOM DU PROGRAMME DE BOURSE</th>
														<th style="padding: 10px;">PRESENTATION DU PROGRAMME</th>
														<th style="padding: 10px;">FILIERES D’ETUDES CONCERNEES</th>
														<th style="padding: 10px;">COMMENTAIRE</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td rowspan="2" style="padding: 10px;"><b>BOURSE SUR CRITERES SOCIAUX</b></td>
														<td style="padding: 10px;"><b>SIFA-FW3</b></td>
														<td style="padding: 10px;"><b>BOURSE IPNET SUR CRITERES SOCIAUX</b></td>
														<td style="padding: 10px;">
															Exemption de la totalité des frais de scolarité
															<!-- <b>Reduction des frais de scolarité aux personnes vulnérables : <br> </b> 
															<ul style="padding: 0px; margin-left: 15px;">
																<li>Reduction 20% ou 40% des frais de Scolarité attribuée selon la règle du plus nécessiteux parmi les plus méritants. Les frais d’étude de dossier et d’inscription ne sont pas couverts ;</li>
																<li>Destiné aux filles/femmes, aux jeunes issus des milieux défavorisés et aux groupes vulnérables : orphelins de père et/ou de mère, étudiants aux parents au revenu modeste, handicapés, etc.</li>
																<li>Nationalité : togolaise seulement (pour l’instant)</li>
															</ul> -->
														</td>
														<td style="padding: 10px;">
															<!-- <b>Pour l’année académique 2023 – 2024, cette bourse concerne seulement les filières suivantes :<br></b> -->
															<ul style="padding: 0px; margin-left: 15px;">
																<li>Devenez Cybersecurity Analyst (6 mois) ;</li>
																<li>Certificat Infographie & Multimédia (8 mois);</li>
																<li>Technicien Logiciel – Webdesign (9 mois).</li>
																<!-- <li>Licence Développement Web & Mobile ;</li>
																<li>Licence Webdesign, Infographie & Multimédia ;</li>
																<li>Licence Intégrée Mathématiques & Informatique ;</li>
																<li>Licence Informatique & Gestion ;</li>
																<li>Licence Génie Electrotechnique & Energies Renouvelables.</li> -->
															</ul>
															<!--<ul style="padding: 0px; margin-left: 15px;">
																<li>Licences</li>
																<li>Master</li>
																<li>Certificat en Administration Réseaux, Systèmes & Cybersécurité en 15 mois</li>
																<li>Certificat en Maintenance Réseaux, Microinformatique, ToIP et Vidéosurveillance en 12 mois</li>
															</ul>-->
														</td>
														<td style="padding: 10px;">
															<!-- Vous avez de bons résultats et avez des parents au revenu modeste, 
															venez avec des preuves pour bénéficier d'une remise de 20 à 40 %, 
															chaque année, sur les 3 ans de la licence<br>
															<ul>
																Les conditions à remplir <br/>
																		<li>BAC II édition 2022 ou 2021 : séries : C, D, E, F, G2, G3, A4, avec au moins 11/20 de moyenne</li>
																		<li>Date limite de dépôt de candidature : 03 octobre 2022 a 17h30 GMT</li>
																		<li>Nombre de places limitées</li>
																		<li>Pieces à fournir;</li>
																		<li>Deux photos passeport;</li>
																		<li>Photocopie légalisée de l’attestation du BAC II ;</li>
																		<li>Photocopie légalisée du relevé de notes du BAC II ;</li>
																		<li>Copies légalisées des pièces d’état civil : naissance, nationalité, pièce d’identité ;</li>
																		<li>Joindre la fiche de demande de bourse IPNET-BCS à remplir sur place ou en ligne.</li>
																</ul>
																Contact +228 99 89 13 75 / 99 31 07 14 ou ipnet@ipnetinstitute.com -->
																Rentrée académique du 15 Mai 2024
														</td>
														
													</tr>
													<tr>
														<td style="padding: 10px;"><b>SIFA-FW3-80</b></td>
														<td style="padding: 10px;"><b>SUBVENTIONS ET BOURSES PAYEES PAR DES TIERS</b></td>
														<td>
															<!--<ul style="padding: 0px; margin-left: 25px;">
																<li>Reduction 20% ou 40% des frais de Scolarité attribuée selon la règle du plus nécessiteux parmi les plus méritants. Les frais d’étude de dossier et d’inscription ne sont pas couverts ;</li>
																<li>Destiné aux filles/femmes, aux jeunes issus des milieux défavorisés et aux groupes vulnérables : les veuves, les réfugiés, les migrants, les déplacés, les handicapés</li>
																<li>Nationalité : togolaise seulement (pour l’instant)</li>
															</ul>
															Prise en charge partielle ou totale des frais de scolarité, Cette prise en charge peut inclure ou non les frais de scolarité. Tout ceci dépend du sponsor, c’est-à-dire de l’institution qui offre la bourse. -->
															<ul>
																<li>Allocations de bourse d'apprentissage de 80 euros par mois;</li>
																<li>Exemption de la totalité des frais de scolarité.</li>
															</ul>
															<!--<ul style="padding: 0px; margin-left: 25px;">
																<li>Allocation mensuelle d’un montant de 137€ (Cent trente-sept euros) pour les Masters et 80€ (Quatre-vingt euros) pour les Licences et le Certificat en Administration Réseaux, Systèmes & Cybersécurité en 18 mois</li>
																<li>Destiné aux filles/femmes, aux jeunes issus des milieux défavorisés et aux groupes vulnérables : les veuves, les réfugiés, les migrants, les déplacés, les handicapés</li>
																<li>Sont éligibles, dans certains cas, à l’Exemption de 50% des frais de Scolarité ;</li>
																<li>Nationalité : tous les pays Africains</li>
															</ul>-->
														</td>
														<td style="padding: 10px;">
															<!--<b>Formations concernées (cycle court de 6 à 12 mois)</b><br> -->
															<ul style="padding: 0px; margin-left: 15px;">
																<li>Certificat Maintenance Réseaux, Microinformatique, Téléphonie et Vidéosurveillance (9 mois)</li>
																<li>Administrateur Réseaux, CCNA (3 mois)</li>
																<li>Technicien Maintenance Microinformatique (6 mois)</li>
																<!-- <li>Certificat Gestion de Projets (12 mois)</li>
																<li>Technicien Logiciel, Développement Web</li> -->
															</ul>
														</td>
														<td style="padding: 10px;">
															<!-- <ul>
																<b>Les conditions d’éligibilité</b><br>
																		<li>Être titulaire du baccalauréat II ou avoir fait la classe de 1ere</li>
																		<li>Electriciens bâtiments titulaires de BECP</li>
																</ul> -->
																Rentrée académique du 15 Octobre 2024
														</td>
													</tr>
												</tbody>
											</table>
										</div> 
					
				    </div>
					<div class="tab-pane" id="tab2">
										<a class="btn btn-theme d-inline" target="_blank"
											href="docs/IPNET_IT_FORMULAIRE_DE_DEMANDE_DE_BOURSE.pdf"><i class="fa fa-download"></i>Formulaire de demande de bourse</a>
											<a style="margin-left: 2px;" class="btn btn-theme d-inline"
											href="#/onlineRegistration?event=BOURSE"><i class="fa fa-play-circle"></i>Formulaire de demande de bourse en ligne</a>
										
											<div class="table-responsive">
											<table border="1" style="margin-top: 20px;">
												<thead>
													<tr>
														<th  style="padding: 10px;">CATEGORIE</th>
														<th style="padding: 10px; width: 10%;"> CODE BOURSE</th>
														<th style="padding: 10px;">NOM DU PROGRAMME DE BOURSE</th>
														<th style="padding: 10px;">PRESENTATION DU PROGRAMME</th>
														<th style="padding: 10px;">FILIERES D’ETUDES CONCERNEES</th>
														<th style="padding: 10px;">COMMENTAIRE</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td rowspan="2" style="padding: 10px;"><b>AIDE AU MERITE</b></td>
														<td style="padding: 10px;"><b>MERITE-IPNET</b></td>
														<td style="padding: 10px;"><b>BOURSE D ’EXCELLENCE IPNET INSTITUTE OF TECHNOLOGY</b></td>
														<td style="padding: 10px;">
															<ul style="padding: 0px; margin-left: 15px;">
																<li><b>Exemption de 50% ou 100% des frais de Scolarité ;</b></li>
																<li>Sélection basée sur la performance scolaire ou sur un acte qui témoigne d’un Leadership certain du candidat;</li>
																<li>Le candidat doit avoir obtenu la mention "bien" ou plus au BAC II;</li>
																<li>Nationalité : tous les pays Africains</li>
															</ul>
														</td>
														<td style="padding: 10px;">
																<ul style="padding: 0px; margin-left: 15px;">
																<li>Licences</li>
																<li>Master</li>
																<li>Certificat en Administration Réseaux, Systèmes & Cybersécurité en 15 mois</li>
																<li>Certificat en Maintenance Réseaux, Microinformatique, ToIP et Vidéosurveillance en 12 mois</li>
															</ul>
														</td>
														<td style="padding: 10px;">Ce programme existe depuis la création de IPNET INSTITUTE OF TECHNOLOGY</td>
														
													</tr>
													<tr>
														<td style="padding: 10px;"><b>CONCOURS-IPNET</b></td>
														<td style="padding: 10px;"><b>CONCOURS D’ENTREE ET REDUCTION DE FRAIS DE SCOLARITE DE 10 A 50%</b></td>
														<td style="padding: 10px;">
															<ul style="padding: 0px; margin-left: 15px;">
																<li>Un concours d’entrée en 1ere année de Licence est organisé chaque année ;</li>
																<li><b>Une réduction de 10 à 50% sur les frais de scolarité est accordée aux candidats sur la base de leur classement au concours ;</b></li>
																<li>Les candidats sont évalués en Anglais, leadership et culture générale par un test automatique en ligne</li>
																<li>Nationalité : tous les pays Africains</li>
															</ul>
														</td>
														<td style="padding: 10px;">
															<ul style="padding: 0px; margin-left: 15px;">
																<li>Licences</li>
															</ul>
														</td>
														<td style="padding: 10px;">Ce programme existe depuis la création de IPNET INSTITUTE OF TECHNOLOGY</td>
													</tr>
												</tbody>
											</table>
										</div>
			     	</div>
					<div class="tab-pane" id="tab3">
										<a class="btn btn-theme d-inline" target="_blank"
											href="docs/IPNET_IT_FORMULAIRE_DE_DEMANDE_DE_BOURSE.pdf"><i class="fa fa-download"></i>Formulaire de demande de bourse</a>
											<a style="margin-left: 2px;" class="btn btn-theme d-inline"
											href="#/onlineRegistration?event=BOURSE"><i class="fa fa-play-circle"></i>Formulaire de demande de bourse en ligne</a>
										
										<div class="table-responsive">
											<table border="1" style="margin-top: 20px;">
												<thead>
													<tr>
														<th style="padding: 10px;">CATEGORIE</th>
														<th style="width: 15%;padding: 10px; ">CODE BOURSE</th>
														<th style="padding: 10px;">NOM DU PROGRAMME DE BOURSE</th>
														<th style="padding: 10px;">PRESENTATION DU PROGRAMME</th>
														<th style="padding: 10px;">FILIERES D’ETUDES CONCERNEES</th>
														<th style="padding: 10px;">COMMENTAIRE</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td rowspan="2" style="padding: 10px;"><b>PRETS</b></td>
														<td style="padding: 10px;"><b>PAYLATER-IPNET</b></td>
														<td style="padding: 10px;"><b>PROGRAMME “STUDY NOW AND PAY LATER”, SPONSORISÉ PAR IPNET INSTITUTE OF TECHNOLOGY</b></td>
														<td style="padding: 10px;">
															<ul style="padding: 0px; margin-left: 15px;">
																<li><b>L’étudiant (e) ne paye pas les frais de scolarité qu’une fois les études achevées ;</b></li>
																<li>Les études sont préfinancées par IPNET INSTITUTE OF TECHNOLOGY;</li>
																<li>Durée maximale pour achever le remboursement à partir de la date de fin des études : 36 mois;</li>
																<li>Nationalité : tous les pays Africains</li>
															</ul>
														</td>
														<td style="padding: 10px;">
															<ul style="padding: 0px; margin-left: 15px;">
																<li>Master</li>
																<li>Certificat en Administration Réseaux, Systèmes & Cybersécurité en 15 mois</li>
																<li>Certificat en Maintenance Réseaux, Microinformatique, ToIP et Vidéosurveillance en 12 mois</li>
															</ul>
														</td >
														<td style="padding: 10px;">Ce programme existe déjà à IPNET INSTITUTE OF TECHNOLOGY</td>
													</tr>
													<tr>
														<td style="padding: 10px;"><b>PAYLATER-TER</b></td>
														<td style="padding: 10px;"><b>PROGRAMME “STUDY NOW AND PAY LATER”, SPONSORISE PAR LES BANQUES ET INSTITUTIONS FINANCIERES</b></td>
														<td style="padding: 10px;">
															<ul style="padding: 0px; margin-left: 15px;">
																<li><b>L’étudiant (e) ne paye pas les frais de scolarité qu’une fois les études achevées ;</b></li>
																<li>Les études sont préfinancées par les banques et autres institutions financières</li>
																<li>Durée maximale pour achever le remboursement à partir de la date de fin des études : 36 mois</li>
															</ul>
														</td>
														<td style="padding: 10px;">
															<ul style="padding: 0px; margin-left: 15px;">
																<li>Master</li>
																<li>Certificat en Administration Réseaux, Systèmes & Cybersécurité en 15 mois</li>
																<li>Certificat en Maintenance Réseaux, Microinformatique, ToIP et Vidéosurveillance en 12 mois</li>
															</ul>
														</td >
														<td style="padding: 10px;">Le projet SIFA, s’il est gagné, nous permettra d’avoir une envergure telle que nous passerons 
															convaincre les opérateurs télécoms, les Banques et autres institutions financières de la sous-région 
															(Afrique de l’Ouest, Afrique du Centre) de sponsoriser les étudiants (STUDY NOW, PAY LATER)</td>
													</tr>
												</tbody>
											</table>
										</div>
	
				
								</div>
							<div class="tab-pane" id="tab4">
										<a class="btn btn-theme d-inline" target="_blank"
											href="docs/IPNET_IT_FORMULAIRE_DE_DEMANDE_DE_BOURSE.pdf"><i class="fa fa-download"></i>Formulaire de demande de bourse</a>
											<a style="margin-left: 2px;" class="btn btn-theme d-inline"
											href="#/onlineRegistration?event=BOURSE"><i class="fa fa-play-circle"></i>Formulaire de demande de bourse en ligne</a>
										
									<div class="table-responsive">
											<table border="1" style="margin-top: 20px;">
												<thead>
													<tr>
														<th  style="padding: 10px;">CATEGORIE</th>
														<th style="padding: 10px; width: 10%;"> CODE BOURSE</th>
														<th style="padding: 10px;">NOM DU PROGRAMME DE BOURSE</th>
														<th style="padding: 10px;">PRESENTATION DU PROGRAMME</th>
														<th style="padding: 10px;">FILIERES D’ETUDES CONCERNEES</th>
														<th style="padding: 10px;">COMMENTAIRE</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td rowspan="2" style="padding: 10px;"><b>TRAVAILLER DURANT SES ETUDES</b></td>
														<td style="padding: 10px;"><b>JOB-ETUDIANT</b></td>
														<td style="padding: 10px;"><b>Job étudiant</b></td>
														<td style="padding: 10px;">
															<ul style="padding: 0px; margin-left: 15px;">
																<li>Occuper à temps partiel un emploi en parallèle des études permet à la fois d’être rémunéré et 
																	d’acquérir une première expérience professionnelle. Mais n’oubliez pas que vous êtes avant tout étudiant 
																	et que vous allez devoir vous organiser pour gérer le tout. 
																	Optez ainsi pour des contrats de 5 à 20 heures par semaine, selon vos besoins </li>
																<li>Les jobs étudiants comprennent par exemple la gestion des Laboratoires de Travaux Pratiques. 
																	Il existe aussi des formules qui permettent d’être rémunéré pour des missions au Service Scolarité et des Affaires Académiques.
																	Les candidats retenus signeront un contrat de travail à temps partiel (job étudiant) en bonne et due forme.</li>
																
															</ul>
														</td>
														<td style="padding: 10px;">
																<ul style="padding: 0px; margin-left: 15px;">
																<li>Licence (même les 1ères année)</li>
																<li>Master</li>
																<li>Certificat en Administration Réseaux, Systèmes & Cybersécurité en 15 mois</li>
																<li>Certificat en Maintenance Réseaux, Microinformatique, ToIP et Vidéosurveillance en 12 mois</li>
															</ul>
														</td>
														<td style="padding: 10px;"></td>
														
													</tr>
													<tr>
														<td style="padding: 10px;"><b>ALTERNANCE</b></td>
														<td style="padding: 10px;"><b>Opter pour l’alternance</b></td>
														<td style="padding: 10px;">
															<span>
																En choisissant de faire vos études en alternance, non seulement vous recevrez une formation concrète et reconnue par le monde 
																de l’entreprise, mais vous serez aussi rémunéré. Autrement dit, c’est tout à votre avantage !
															</span>
															<span>Avec l’Option Alternance par exemple, les étudiants de 3ème année de Licence et ceux inscrits au Master qui ont conduit avec 
																brio leurs projets professionnels, peuvent être retenus pour :</span>
															<ul style="padding: 0px; margin-left: 15px;">
																<li>Assister leurs cadets à faire leurs travaux pratiques dans les Laboratoires ;</li>
																<li>Assister leurs cadets dans la mise en œuvre de leurs projets professionnels sous la supervision d’un Ingénieur Senior</li>
															</ul>
															Les candidats retenus signeront un contrat de travail à temps partiel (Option Alternance) en bonne et due forme, 
															contrats de 5 à 20 heures par semaine, selon vos besoins. 
														</td>
														<td style="padding: 10px;">
															<ul style="padding: 0px; margin-left: 15px;">
																<li>3ème année Licence</li>
																<li>Master</li>
															</ul>
														</td>
														<td style="padding: 10px;"></td>
													</tr>
												</tbody>
											</table>
									</div>
	
										
					</div>
	
					<div class="tab-pane" id="tab5">
						<a class="btn btn-theme d-inline" target="_blank"
						href="docs/IPNET_IT_FORMULAIRE_DE_DEMANDE_DE_BOURSE.pdf"><i class="fa fa-download"></i>Formulaire de demande de bourse</a>
						<a style="margin-left: 2px;" class="btn btn-theme d-inline"
						href="#/onlineRegistration?event=BOURSE"><i class="fa fa-play-circle"></i>Formulaire de demande de bourse en ligne</a>
					
						<div class="table-responsive">
								<table border="1" style="margin-top: 20px;">
									<thead>
										<tr>
											<th  style="padding: 10px;">CATEGORIE</th>
											<th style="padding: 10px; width: 10%;"> CODE BOURSE</th>
											<th style="padding: 10px;">NOM DU PROGRAMME DE BOURSE</th>
											<th style="padding: 10px;">PRESENTATION DU PROGRAMME</th>
											<th style="padding: 10px;">FILIERES D’ETUDES CONCERNEES</th>
											<th style="padding: 10px;">COMMENTAIRE</th>
										</tr>
									</thead>
									<tbody>
											<tr>
												<td rowspan="2" style="padding: 10px;">SUBVENTIONS ET BOURSES PAYEES PAR DES TIERS</td>
												<td style="padding: 10px;">SIFA </td>
												<td style="padding: 10px;">
													
													<ul>
														<li> <b> Bourse SIFA-FW2-100 </b> </li> <br>

														<li><b> Exemption SIFA-FW2-100 </b> </li><br>

														<li><b> Exemption SIFA-FW2-50</b> </li><br>

														<li><b> Bourse SIFA-FW3-80</b> </li><br>

														<li><b> Exemption SIFA-FW3-100</b> </li>

													</ul>
													
											
												</td>
												
												
												
												
												<td style="padding: 10px;">
													<ul style="padding: 0px; margin-left: 15px;">	
															
														   <li><b>Allocations de bourse d'apprentissage de 100 euros par mois</b> </li><br>
															
																
															<li><b>	Exemption de la totalité des frais de scolarité</b> </li> <br>


															<li><b>	Exemption de 50% des frais de scolarité</b> </li><br>


															<li><b>	Allocations de bourse d'apprentissage de 80 euros par mois;</b> </li><br>
																
															<li><b>	Exemption de la totalité des frais de scolarité</b> </li><br>


														
															
															
														</ul>
													
												</td>
												<td style="padding: 10px;">
												
													<b>LICENCES EN 15 MOIS POUR TITULAIRES DE
														BTS / DUT INFORMATIQUE OU LICENCE NON
													</b>
													
													<ul>
													   <li> Licence Réseaux & Cybersécurité</li>	
													   <li> Licence Génie Logiciel</li>	
													   <li>	Licence Développement Web & Mobile</li>	
													</ul>
													<br>
													<b> CERTIFICATS RÉSEAUX & CYBERSÉCURITÉ</b>
													<ul>
														<li>Certificat Administration Réseaux, Systèmes & Cybersécurité</li>	
															<li>	Devenez Cybersecurity Analyst en 6 mois</li>	
															<li>	Certificat Maintenance Réseaux, Microinformatique,</li>	
															<li>	Téléphonie et Vidéosurveillance
															<li>Administrateur Réseaux, CCNA</li>	
															<li>Technicien Maintenance Microinformatique</li>	
															<li>Technicien Réseaux & Maintenance Microinformatique</li>	
															
															<li>Administrateur Systèmes Windows Server 2016</li>	
															<li>Administrateur Systèmes RedHat Enterprise Linux</li>	
												    </ul>

													<br>

													<b>CERTIFICATS EN DÉVELOPPEMENT WEB</b>

													<ul>
														<li>Technicien Logiciel - Développement Web</li>
														<li>Technicien Logiciel – Webdesign</li>
														<li>Certificat Webdesign Infographie, MultiMedia &</li>
														<li>Digital Marketing</li>
													</ul>
													<br>
													<b>CERTIFICATS INFOGRAPHIE & MULTIMEDIA</b>
													<ul>
														<li>Certificat Infographie</li>
														<li>Certificat Infographie & Multimédia</li>
														<li>Formations « Photoshop »</li>
														<li>Formations « Illustrator »</li>
														<li>Formations « Animation Vidéo & Effets Spéciaux »</li>
														<li>Formations « Montage Vidéo »</li>
														<li>Publication Assistée par Ordinateur</li>
												    </ul>
														<br>
													<b>CERTIFICAT GESTION DES PROJETS </b>
													<ul>
														<li>Certificat Gestion de Projet TIC</li>
														<li>Certificat Gestion de Projet</li>
													</ul>
												</td>
												<td style="padding: 10px;">
												
													<b>Critères de sélection</b>
													<ul>

														<li>Test de connaissance de Microsoft Windows 10</li>
														<li>Test de Leadership & Motivation</li>
														<li>Niveau: BAC II ouplus, toutes series confondues</li>
														<li>Nationalité : tout citoyen Africain</li>
														<li>Filles/femmes, et jeunes issus des milieux
														défavorisés et des groupes vulnérables (orphelins
														depère et/ou de mère, étudiants aux parents au
														revenu modeste, handicapés)</li>
													</ul>

													
													<b>Processus de sélection des lauréats</b>
													<ol>

														<li>Soumettre sa candidature en ligne 
															<a target="_blank" href="#/bourseOnline">(www.ipnetinstitute.com/#/bourseOnline)</a>
															, ou
															déposer le dossier physique de candidature au
															Service Scolarité et Affaires Académiques, au siège
															de IPNet Institute of Technology (voir la
															composition du dossier de candidature)</li>

															<li>Suivre un test de sélection : les tests de sélection
																se feront en ligne pour les candidats qui ne
																peuvent pas se présenter physiquement à notre
																siège, à Lomé
														</li>

														<li>Du 1er au 30 Mars 2024 : collecte des dossiers de
															candidatures et présélection															
														</li>

														<li>Du 1er au 14 Avril 2024 : test des candidats
															présélectionnés														
														</li>
														<li>15 Avril 2024: publication des résultats</li>
														<li>15 Mai 2024: Debut des cours</li>

														
														
													</ol>

													<b>PIECES A FOURNIR</b>
													<ul>
														<li>Deux photos passeport ;</li>
														<li>Lettre de motivation manuscrite ;</li>
														<li>Curriculum vitae ;</li>
														<li>Photocopie légalisée des diplômes obtenus ;</li>
														<li>Photocopie légalisée relevée de notes des diplômes
														universitaires ;</li>
														<li>Etat civil (copies légalisées : naissance, nationalité, pièce
														d’identité)</li>
														<li>Fiche de demande de bourse ou d'exemption des frais de
														Scolarité</li>
														<li>Les éléments prouvant que les parents sont de revenus
														très modestes</li>
													</ul>

													<b>SOUMISSION DE CANDIDATURE</b>
													<ul>
														<li>Payer les frais d’étude de dossier (si
															applicable)</li>
														<li>Obtenir sa lettre d’admission IPNET INSTITUTE
															OF TECHNOLOGY ;
															</li>
														<li>Tous les règlements à IPNET INSTITUTE OF TECHNOLOGY se font par
																virement bancaire ou dépôt de chèque ou d’espèces sur le
																compte bancaire suivant :</li> Banque: 
																<b> CORIS BANK INTERNATIONAL
																</b> <br> Numero de compte: <b>007471424102 - 39</b> 
																<br> IBAN (Identifiant International):
															<b>TG53 TG18 2010 0100 7471 4241 0239</b> <br> SwiftCode: <b>CORITGTG</b>
														<br> Nom du Compte: <b>IPNET INSTITUTE OF TECHNOLOGY</b>
													</ul>
												
												
												
												
												</td>
											</tr>
									</tbody>
								</table>
						</div>
					</div>
				</div>
				</div>
				<!--//tabbed-info-->
				
			</div>
				<br />
	
						<div class="fb-like" data-href="http://www.ipnetinstitute.com/#/Bourses" data-width=""
								data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
						</div>
			 <!--//page-row-->
			 <!--iframe
				src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fipnetuniversity.com%2F%23%2FsystemeEnseignementInnovant%3Fid%3D56&width=450&layout=standard&action=like&size=large&show_faces=false&share=true&height=35&appId"
				width="450" height="35" style="border: none; overflow: hidden"
				scrolling="no" frameborder="0" allowTransparency="true"></iframe-->
	
					</div>


			<!--//course-wrapper-->
			
			<aside
				class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
				<section class="widget has-divider">
					<app-prospectus></app-prospectus>
				</section>
				<!--//widget-->
				<section class="widget has-divider">
					<app-contact-short></app-contact-short>
				</section>
				<!--//widget-->
				<!-- <section class="widget has-divider">
					<h3 class="title">Nos filières</h3>
					<ul class="list-unstyled">
						<li *ngFor="let aCollege of colleges"><a
							href="#/collegeSingle" (click)="setCurrentCollege(aCollege)"><i
								class="fa fa-book"></i> {{aCollege.name}}</a></li>
					</ul>
				</section> -->
				<section style="padding: 10px;" class="widget has-divider">
					<h3 class="title">Nos filières</h3>
					<ul class="list-unstyled">
						<li *ngFor="let aCollege of colleges">
							<a *ngIf="aCollege.description !== null "
							[routerLink]="['/collegeSingle']" [queryParams]="{ id: aCollege.id }"><i
								class="fa fa-book"></i> {{aCollege.name}}</a>

								<a *ngIf="aCollege.description === null "
								[routerLink]="['/']"><i
								class="fa fa-book"></i> {{aCollege.name}}</a>
							</li>
					</ul>
				</section>
				<!--//widget-->
				<section class="widget has-divider">
					<a class="btn btn-cta" [routerLink]="['/onlineRegistration']"
						[queryParams]="{ event:'INSCRIPTION'}"><i
						class="fa fa-play-circle"></i>Inscription en ligne</a>
				</section>
				<!--//widget-->
			</aside>

		</div>
		
    </div>
</div>
