<div class="page-wrapper">
  <header class="page-heading clearfix">
    <div class="row page-row">
      <div class="col-md-9 col-sm-8">
        <h1 class="heading-title pull-left">
          CONCOURS DOTE DE BOURSE POUR ENTRER A IPNET INSTITUTE OF TECHNOLOGY
          <a style="margin-left: 2px;" class="btn btn-theme d-inline" href="#/onlineRegistration?event=CONCOURS"><i
              class="fa fa-play-circle"></i>Inscription au concours</a>

          <span style="position: relative;/* left: 4%*/; top: 10px;">
            <!--div class="fb-like" data-href="http://www.ipnetinstitute.com/#/projetsProfesionnels" data-width=""
                           data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                      </div
                      <div class="fb-like" data-href="http://www.ipnetinstitute.com/#/coursMGT411" data-width=""
                           data-layout="standard" data-action="like" data-size="small" data-show-faces="true"
                           data-share="true">
                      </div>-->
          </span>
        </h1>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">

            <li class="breadcrumbs-label">Vous etes ici:</li>
            <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
            <li class="current">Concours</li>

          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="page-content">
    <div class="row page-row">
      <div class="course-wrapper col-md-8 col-sm-7">
        <article class="course-item">
          <!--	<p class="featured-image page-row" style="margin-bottom: 30px; !important;">
						<img class="img-responsive"
							src="assets/images/coursMGT411/cours_mgt411.jpg" alt="" /> 
					</p> -->



          <p>
            Venez concourir pour entamer des études dans l’une des 10 filières les plus demandées sur le marché du
            travail dans les années à venir, il s’agit de :
          </p>


          <ul>
            <li>
              Intelligence Artificielle,
            </li>
            <li>
              Sciences des Données,
            </li>
            <li>
              Génie Logiciel,
            </li>
            <li>
              Cybersécurité,
            </li>
            <li>
              Réseaux, Systèmes et Sécurité,
            </li>
            <li>
              Webdesign Infographie Multimédia,
            </li>
            <li>
              Génie Electrotechnique et Energies Renouvelables,
            </li>
            <li>
              Développement Web & Mobile,
            </li>
            <li>
              Informatique de Gestion
            </li>
            <li>
              Licence Intégrée en Mathématiques et Informatique.
            </li>
          </ul>



          <div>
            <h3><span style="color: #6091ba; margin-right:5px;">Date du premier concours de bourse :</span> <span>15
                septembre 2025</span></h3>
            <h3><span style="color: #6091ba; margin-right:5px;">Date du deuxième concours de bourse :</span> <span>03
                octobre 2025</span></h3>


            <h3 style="color: #6091ba;">Centres d’écrit (Premier concours) :</h3>
            <ul>
              <li> IPNET INSTITUTE OF TECHNOLOGY,</li>
              <li>KARA : Collège Chaminade,</li>
              <li>LETP ATAKPAME,</li>
              <li>LETP SOKODE,</li>
              <li>LETP DAPAONG.</li>


            </ul>

            <h3 style="color: #6091ba;"> Centre d’écrit (Deuxième Concours) :</h3>
            <ul>
              <li> IPNET INSTITUTE OF TECHNOLOGY,</li>
            </ul>


            <h3 style="color: #6091ba;">Critère de sélection:</h3>
            <ul>
              <li>Être titulaire du BAC II toutes séries confondues</li>
            </ul>
            <h3 style="color: #6091ba;">Dossier à fournir :</h3>
            <ul>
              <li>Photocopie de l’acte de naissance,</li>
              <li>Photocopie des relevés du BAC1 et du BAC2,</li>
              <li>Une quittance de 5 000 F CFA pour frais d’inscription au concours.</li>
            </ul>

          </div>
          <p>
            Les inscriptions se poursuivent au siège de IPNET EXPERTS SA à Lomé, LETP Atakpame, LETP Sokode au Collège
            Chaminade à Kara et au LETP Dapaong jusqu’au 15 septembre 2025 pour le premier concours et jusqu’au 03
            Octobre pour le deuxième concours.
          </p>
          <p>Pour plus d’informations, nous contacter au 99 31 07 21/ 99 31 07 14/ via contact@ipnetinstitute.com </p>
          <a style="margin-left: 2px;" class="btn btn-theme d-inline" href="#/onlineRegistration?event=CONCOURS"><i
              class="fa fa-play-circle"></i>Inscription au concours</a>
          <br> <br>
          <p>
            <img style="width:100%;" src="docs/concour6SEPTEMBRE.jpg" />
          </p>
          <br>
          <!-- <p>
                          <img style="width:100%;" src="docs/CONCOUR06OCTOBRE.jpg"  />
                        </p> -->

        </article>
        <!--//course-item-->
      </div>
      <!--//course-wrapper-->
      <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
        <section class="widget has-divider">
          <app-prospectus></app-prospectus>
        </section>
        <!--//widget-->
        <section class="widget has-divider">
          <app-contact-short></app-contact-short>
        </section>
        <!--//widget-->
        <!-- <section class="widget has-divider">
					<h3 class="title">Nos filières</h3>
					<ul class="list-unstyled">
						<li *ngFor="let aCollege of colleges"><a
							href="#/collegeSingle" (click)="setCurrentCollege(aCollege)"><i
								class="fa fa-book"></i> {{aCollege.name}}</a></li>
					</ul>
				</section> -->

        <section style="padding: 10px;" class="widget has-divider">
          <h3 class="title">Nos filières</h3>
          <ul class="list-unstyled">
            <li *ngFor="let aCollege of colleges">
              <a *ngIf="aCollege.description !== null " [routerLink]="['/collegeSingle']"
                [queryParams]="{ id: aCollege.id }"><i class="fa fa-book"></i> {{aCollege.name}}</a>

              <a *ngIf="aCollege.description === null " [routerLink]="['/']"><i class="fa fa-book"></i>
                {{aCollege.name}}</a>
            </li>
          </ul>
        </section>
        <!--//widget-->
        <section class="widget has-divider">
          <a class="btn btn-cta" [routerLink]="['/onlineRegistration']" [queryParams]="{ event:'INSCRIPTION'}"><i
              class="fa fa-play-circle"></i>Inscription en ligne</a>
        </section>
        <!--//widget-->
      </aside>

    </div>
    <!--//page-row-->
    <!--iframe
			src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fipnetuniversity.com%2F%23%2FsystemeEnseignementInnovant%3Fid%3D56&width=450&layout=standard&action=like&size=large&show_faces=false&share=true&height=35&appId"
			width="450" height="35" style="border: none; overflow: hidden"
			scrolling="no" frameborder="0" allowTransparency="true"></iframe-->

  </div>

</div>