<div class="page-wrapper">
  <header class="page-heading clearfix">
    <div class="row page-row">
      <div class="col-md-9 col-sm-8">
        <h1 class="heading-title pull-left">
          Cours MGT 411 : Savoir-Etre, Leadership & Etat d ’Esprit
          <span style="position: relative;/* left: 4%*/; top: 10px;">
            <!--div class="fb-like" data-href="http://www.ipnetinstitute.com/#/projetsProfesionnels" data-width=""
                           data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                      </div-->
            <div class="fb-like" data-href="http://www.ipnetinstitute.com/#/coursMGT411" data-width=""
              data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
            </div>
          </span>
        </h1>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="breadcrumbs pull-right">
          <ul class="breadcrumbs-list">

            <li class="breadcrumbs-label">Vous etes ici:</li>
            <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
            <li class="current">Cours MGT 411</li>

          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="page-content">
    <div class="row page-row">
      <div class="course-wrapper col-md-8 col-sm-7">
        <article class="course-item">
          <p class="featured-image page-row" style="margin-bottom: 30px; !important;">
            <img class="img-responsive" src="assets/images/coursMGT411/cours_mgt411.jpg" alt="" />
          </p>

          <h1 class="heading-title" style="margin-top: 0px">
            Objectifs et description du cours
          </h1>

          <p>
            Ce cours vise particulièrement à apporter quelques réponses à la question pourquoi
            certaines personnes, beaucoup moins brillantes au lycée et à l’université, parviennent
            à se hisser parmi les plus influentes, les plus riches, les plus efficaces, les plus
            épanouies sur le plan social et/ou professionnel ?
          </p>

          <p>
            En effet, la réputation d’une Ecole réside, dans une large mesure, dans sa capacite
            à générer, parmi ses étudiants, des futurs Leaders, des cadres à termes épanouis sur
            le plan social et professionnel, des personnes visibles au plan national et même
            au-delà. Le présent cours vient en complément des cours classiques de Développement Personnel.
          </p>

          <p>
            L’autre objectif du présent cours est de transformer la mentalité de notre jeunesse de
            sorte qu’elle n’offre pas le flanc aux critiques que l’on fait, à tort ou à raison, à nous les
            Africains :
          </p>

          <ul>
            <li>
              Manque de discipline ;
            </li>
            <li>
              Manque de rigueur et du sens de la qualité ;
            </li>
            <li>
              Manque d’audace et obsession à vouloir être employé (surtout par l’Etat) plutôt qu’entreprendre ;
            </li>
            <li>
              Complexe d’infériorité ;
            </li>
            <li>
              Manque de patriotisme ;
            </li>
            <li>
              Mentalité d’éternels colonisés ;
            </li>
            <li>
              Naïveté dans la compréhension des rapports entre les puissances coloniales, leurs multinationales et nos
              Etats.
            </li>
          </ul>



          <p>
            Le cours traitera des sujets suivants :
          </p>
          <ul>
            <li>
              Etude du parcours de 5 milliardaires Africains : le diplôme est-il indispensable à la richesse financière
              ?
            </li>
            <li>
              Les 5 grandes familles de compétences pour un épanouissement social et professionnel ;
            </li>
            <li>
              Système éducatif en Afrique et chômage des jeunes ;
            </li>
            <li>
              Leadership et autres valeurs entrepreneuriales ;
            </li>
            <li>
              Le savoir-être (encore appelé Soft Skills ou, compétences transversales) : ces compétences
              professionnelles les plus prisées des entreprises au monde ;
            </li>
            <li>
              Ce que les riches enseignent à leurs enfants ;
            </li>
            <li>
              Le modèle 70/20/10 ;
            </li>
            <li>
              L’état d’esprit (Mindset) : ces tares que les autres races reprochent aux Africains
            </li>
            <li>
              Rappels des grandes étapes historiques des relations Europe-Afrique depuis le XVème siècle à nos jours ;
            </li>
            <li>
              Les 11 clauses du pacte colonial ;
            </li>
            <li>
              Introduction à la guerre économique ;
            </li>
            <li>
              L’Afrique, ce continent convoitée et épiée de tous.
            </li>
          </ul>

          <h1 class="heading-title" style="margin-top: 10px">
            Qui sont les participants à ce cours ?
          </h1>

          <ul>
            <li>
              Etudiants Licence, Semestre 6
            </li>
            <li>
              Etudiants des filières professionnelles cycle long ;
            </li>
            <li>
              Etudiants Master ;
            </li>
            <li>
              Les étudiants des autres Universités peuvent payer et suivre le présent cours.
            </li>
          </ul>

          <h1 class="heading-title" style="margin-top: 10px;">
            Prérequis
          </h1>

          <p>
            CONDITIONS PRÉALABLES: AUCUN
          </p>

          <h1 class="heading-title" style="margin-top: 10px;">
            Evaluation de l’apprentissage et pondération
          </h1>

          <ul>
            <li>
              55% - Devoirs de Maison
            </li>
            <li>
              20% - EXAMENS Partiels
            </li>
            <li>
              20% - EXAMEN Final
            </li>
            <li>
              5% - Class Participation (présence aux cours)
            </li>
          </ul>

          <br />

          <!--//page-row-->
          <div class="tabbed-info page-row">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Manuels du Cours</a></li>
              <li><a href="#tab2" data-toggle="tab">Echéancier et plan du cours</a></li>
              <li><a href="#tab3" data-toggle="tab">Contenu pédagogique du cours</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">

                <div class="table-responsive">
                  <table border="1" style="margin-top: 20px;">
                    <tr style="background-color: rgb(217, 217, 217);">
                      <th style="padding: 5px;">UNITE D’ENSEIGNEMENT</th>
                      <th style="padding: 5px;">LIVRE 1 (LIVRE DE REFERENCE)</th>
                      <th style="padding: 5px;">LIVRE 2 (RECOMMANDE)</th>
                      <th style="padding: 5px;">LIVRE 3 (RECOMMANDE)</th>
                      <th style="padding: 5px;">LIVRE 4 (RECOMMANDE)</th>
                    </tr>
                    <tr>
                      <td rowspan="2" style="width: 20%; padding: 10px;">
                        MGT 411 <br />
                        Soft Skills, Leadership & Mindset
                        (Savoir-Etre, Leadership et Etat d’Esprit)
                        <a title="Tous les livres sont téléchargés">
                          <img class="img-responsive" style="padding: 10px;"
                            src="assets/images/coursMGT411/livres/download_syllabus_books_ok.png" alt="" />
                        </a>
                      </td>
                      <td style="width: 20%; vertical-align: top;">
                        <a title="Développez votre Leadership">
                          <img class="img-responsive" style="padding: 10px;"
                            src="assets/images/coursMGT411/livres/developpez_votre_leadership.png" alt="" />
                        </a>
                      </td>
                      <td style="width: 20%; vertical-align: top;">
                        <a title="Père riche, père pauvre">
                          <img class="img-responsive" style="padding: 10px;"
                            src="assets/images/coursMGT411/livres/pere_riche_pere_pauvre.png" alt="" />
                        </a>
                      </td>
                      <td style="width: 20%; vertical-align: top;">
                        <a title="Reflechissez Et Devenez Riche">
                          <img class="img-responsive" style="padding: 10px;"
                            src="assets/images/coursMGT411/livres/reflechissez-devenez-riche.JPG" alt="" />
                        </a>
                      </td>
                      <td style="width: 20%; vertical-align: top;">
                        <a title="Le Quadrant du Cashflow">
                          <img class="img-responsive" style="padding: 10px;"
                            src="assets/images/coursMGT411/livres/cashflow.JPG" alt="" />
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 10px; vertical-align: top;">
                        Développez votre Leadership <br />
                        John C. Maxwell <br />
                        ISBN : 978-2892252798
                      </td>
                      <td style="padding: 10px; vertical-align: top;">
                        Père riche, père pauvre <br />
                        Robert T. Kiyosaki<br />
                        ISBN-10 : 289225955X <br />
                        ISBN-13 : 978-289225955 <br />
                      </td>
                      <td style="padding: 10px; vertical-align: top;">
                        Reflechissez Et Devenez Riche
                        Napoleon Hill<br />
                        ISBN-10: 1607964635 <br />
                        ISBN-13: 978-1607964636 <br />
                      </td>
                      <td style="padding: 10px; vertical-align: top;">
                        Le Quadrant du Cashflow
                        Robert T. Kiyosaki<br />
                        ASIN B07HRZ1VHM <br />
                      </td>
                    </tr>
                  </table>

                </div>

                <div class="table-responsive">
                  <table border="1" style="margin-top: 20px;">
                    <tr style="background-color: rgb(217, 217, 217);">
                      <th style="padding: 5px;">UNITE D’ENSEIGNEMENT</th>
                      <th style="padding: 5px;">LIVRE 5 (LIVRE DE REFERENCE)</th>
                      <th style="padding: 5px;">LIVRE 6 (RECOMMANDE)</th>
                      <th style="padding: 5px;">LIVRE 7 (RECOMMANDE)</th>
                      <th style="padding: 5px;">LIVRE 8 (RECOMMANDE)</th>
                    </tr>
                    <tr>
                      <td rowspan="2" style="width: 20%; padding: 10px;">
                        MGT 411 <br />
                        Soft Skills, Leadership & Mindset
                        (Savoir-Etre, Leadership et Etat d’Esprit)
                        <a title="Tous les livres sont téléchargés">
                          <img class="img-responsive" style="padding: 10px;"
                            src="assets/images/coursMGT411/livres/download_syllabus_books_ok.png" alt="" />
                        </a>
                      </td>
                      <td style="width: 20%; vertical-align: top;">
                        <a title="Quelle université pour quelle Afrique ">
                          <img class="img-responsive" style="padding: 10px;"
                            src="assets/images/coursMGT411/livres/quelle_universite_pour_quelle_afrique.png" alt="" />
                        </a>
                      </td>
                      <td style="width: 20%; vertical-align: top;">
                        <a title="La Guerre Economique ">
                          <img class="img-responsive" style="padding: 10px;"
                            src="assets/images/coursMGT411/livres/la_guerre_economique.png" alt="" />
                        </a>
                      </td>
                      <td style="width: 20%; vertical-align: top;">
                        <a title="Nos chers espions en Afrique ">
                          <img class="img-responsive" style="padding: 10px;"
                            src="assets/images/coursMGT411/livres/nos_chers_espions_en_afrique.png" alt="" />
                        </a>
                      </td>
                      <td style="width: 20%; vertical-align: top;">
                        <a title="">
                          <img class="img-responsive" style="padding: 10px;"
                            src="assets/images/coursMGT411/livres/les_servitudes_du_pacte_colonial.png" alt="" />
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 10px; vertical-align: top;">
                        Quelle université pour quelle Afrique <br />
                        Alain Capo-Chichi ; <br />
                        ISBN : 978-2-918424-01-7 (br) : 25 EUR <br />
                        EAN : 9782918424017 <br />
                      </td>
                      <td style="padding: 10px; vertical-align: top;">
                        La Guerre Economique <br />
                        Maurice Simo Djom <br />
                      </td>
                      <td style="padding: 10px; vertical-align: top;">
                        Nos chers espions en Afrique
                        de Antoine Glaser<br />
                        Broché : 240 pages <br />
                        ISBN-10 : 2213705097 <br />
                        ISBN-13 : 978-2213705095 <br />
                      </td>
                      <td style="padding: 10px; vertical-align: top;">
                        Les Servitudes du Pacte Colonial <br />
                        Koulibaly MAMADOU<br />
                        ISBN-10 : 2844872514 <br />
                        ISBN-13 : 978-2844872517
                      </td>
                    </tr>
                  </table>
                </div>

              </div>
              <div class="tab-pane" id="tab2">
                <div class="table-responsive">
                  <table border="1" style="margin-top: 20px;">
                    <tr style="background-color: rgb(217, 217, 217);">
                      <th style="padding: 5px;">WEEK</th>
                      <th style="padding: 5px;">CONCEPTS COUVERTS</th>
                      <th style="padding: 5px;">READINGS</th>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 1
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        <ul>
                          <li>
                            Etude du parcours de 5 milliardaires Africains : le diplôme est-il
                            indispensable à la richesse financière ?
                          </li>
                          <li>
                            Le formateur remet une vidéo de 30 mn aux étudiants
                          </li>
                          <li>
                            Les étudiants font une présentation sur 4 milliardaires Africains de leur choix
                          </li>
                        </ul>
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        Vidéo de 30mn sur Mme TIA Philomène épouse GLAO, analphabète,
                        milliardaire et serial Entrepreneure
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 2
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        <ul>
                          <li>
                            Les 5 grandes familles de compétences pour un épanouissement social et professionnel ;
                          </li>
                          <li>
                            Système éducatif en Afrique et chômage des jeunes.
                          </li>
                        </ul>
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        Vidéo du Professeur Alain Capo Chichi sur les défaillances de nos systèmes éducatifs.
                        Cette vidéo résume son livre « Quelle Université pour quelle Afrique ? »
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 3
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        <ul>
                          <li>
                            Leadership et autres valeurs entrepreneuriales ;
                          </li>
                          <li>
                            Le savoir-être (encore appelé Soft Skills ou, compétences transversales) :
                            ces compétences professionnelles les plus prisées des entreprises au monde.
                          </li>
                        </ul>
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        Les lectures : <br />
                        <a href="https://bit.ly/38mfJ4C" target="_blank">https://bit.ly/38mfJ4C</a> <br />
                        <a href="https://bit.ly/2SAtwxI" target="_blank">https://bit.ly/2SAtwxI</a> <br />
                        <a href="https://bit.ly/2Sh5Wak" target="_blank">https://bit.ly/2Sh5Wak</a> <br />
                        <a href="https://bit.ly/31N23Ne" target="_blank">https://bit.ly/31N23Ne</a> <br />
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 4
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        <ul>
                          <li>
                            Ce que les riches enseignent à leurs enfants ;
                          </li>
                          <li>
                            Le modèle 70/20/10.
                          </li>
                        </ul>
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        Video 1 : <a href="https://bit.ly/3bxaGzZ" target="_blank">https://bit.ly/3bxaGzZ</a> (livre
                        audio) <br />
                        Video 2 : <a href="https://bit.ly/38ezCKJ" target="_blank">https://bit.ly/38ezCKJ</a> (resume)
                        <br />
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 5
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        <ul>
                          <li>
                            L’état d’esprit (Mindset) : ces tares que les autres races reprochent aux Africains.
                          </li>
                        </ul>
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        LES VIDEOS <br />
                        Video 1 : <a href="https://bit.ly/2tU9p5m" target="_blank">https://bit.ly/2tU9p5m</a> <br />
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 6
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        EXAMEN A MIS PARCOURS
                      </td>
                      <td style="width: 43%; padding: 10px;">

                      </td>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 7
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        <ul>
                          <li>
                            Rappels des grandes étapes historiques
                            des relations Europe-Afrique depuis le XVème siècle à nos jours.
                          </li>
                        </ul>
                      </td>
                      <td style="width: 43%; padding: 10px;">

                      </td>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 8
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        <ul>
                          <li>
                            Les 11 clauses du pacte colonial.
                          </li>
                        </ul>
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        Lecture sur <br />
                        <a href="https://bit.ly/315VmWh" target="_blank">https://bit.ly/315VmWh</a> <br />
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 9
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        <ul>
                          <li>
                            Introduction à la guerre économique.
                          </li>
                        </ul>
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        Vidéo du milliardaire Camerounais Paul FOKAM <br />
                        Vidéo de VoXAfrica <br />
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 10
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        <ul>
                          <li>
                            L’Afrique, ce continent convoitée et épiée de tous.
                          </li>
                        </ul>
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        Vidéos sur RDC, RCI, Mali, Kadafi <br />
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 11
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        Révision Générale. Débats
                      </td>
                      <td style="width: 43%; padding: 10px;">

                      </td>
                    </tr>
                    <tr>
                      <td style="width: 14%; padding: 10px;">
                        SEMAINE 12
                      </td>
                      <td style="width: 43%; padding: 10px;">
                        EXAMEN FINAL
                      </td>
                      <td style="width: 43%; padding: 10px;">

                      </td>
                    </tr>
                  </table>

                </div>
              </div>
              <div class="tab-pane" id="tab3">
                <h5 class="heading-title" style="margin-top: 10px; font-weight: bold;">
                  Chapitre 1 : Etude du parcours de 5 milliardaires Africains : le diplôme est-il
                  indispensable à la richesse financière ?
                </h5>
                <ol>
                  <li>
                    TIA Philomène, épouse GLAO, ivoirienne et analphabète, milliardaire et serial entrepreneur ;
                  </li>
                  <li>
                    Les étudiants font 4 exposés, en groupes, sur le parcours de 4 autres milliardaires Africains.
                  </li>
                </ol>

                <h5 class="heading-title" style="margin-top: 10px; font-weight: bold;">
                  Chapitre 2 : Les 5 grandes familles de compétences pour un épanouissement social et professionnel
                </h5>
                <ol>
                  <li>
                    Les connaissances (Knowledge)
                  </li>
                  <li>
                    Le savoir-faire (Know How)
                  </li>
                  <li>
                    Le savoir-être (Soft Skills)
                  </li>
                  <li>
                    Les valeurs entrepreneuriales
                  </li>
                  <li>
                    L’état d’esprit (Mindset)
                  </li>
                </ol>

                <h5 class="heading-title" style="margin-top: 10px; font-weight: bold;">
                  Chapitre 3 : Système éducatif en Afrique et chômage des jeunes
                </h5>
                <ol>
                  <li>
                    « Quelle Université pour quelle Afrique » de Allain Capo Chichi, partie 1
                  </li>
                  <li>
                    « Quelle Université pour quelle Afrique » de Allain Capo Chichi, partie 2
                  </li>
                  <li>
                    Etude de la vidéo du Professeur Souleymane Bachir Diagne. Il explique que le système
                    scolaire en vigueur dans nos pays, héritage de la colonisation, est en partie,
                    responsable du chômage des jeunes.
                  </li>
                </ol>

                <h5 class="heading-title" style="margin-top: 10px; font-weight: bold;">
                  Chapitre 4 : Leadership et autres valeurs entrepreneuriales
                </h5>
                <ol>
                  <li>
                    Leadership
                  </li>
                  <li>
                    Audace
                  </li>
                  <li>
                    Discipline
                  </li>
                  <li>
                    Créativité
                  </li>
                  <li>
                    Sens des responsabilités
                  </li>
                  <li>
                    Humilité
                  </li>
                  <li>
                    Autonomie
                  </li>
                </ol>

                <h5 class="heading-title" style="margin-top: 10px; font-weight: bold;">
                  Chapitre 5 : Le savoir-être (Soft Skills, ou compétences transversales) :
                  ces compétences professionnelles les plus prisées des entreprises partout dans le monde ;
                </h5>
                <ol>
                  <li>
                    Capacité à organiser et planifier son travail
                  </li>
                  <li>
                    Capacité à travailler en équipe
                  </li>
                  <li>
                    Capacite à diriger une équipe
                  </li>
                  <li>
                    Sens de l'initiative.
                  </li>
                  <li>
                    Résolution des problèmes.
                  </li>
                  <li>
                    Compétences en communication (capacité en communication, sens du compte rendu)
                  </li>
                  <li>
                    Flexibilité
                  </li>
                  <li>
                    Les relations
                  </li>
                </ol>

                <h5 class="heading-title" style="margin-top: 10px; font-weight: bold;">
                  Chapitre 6 : Ce que les parents riches enseignent à leurs enfants ;
                </h5>

                <h5 class="heading-title" style="margin-top: 10px; font-weight: bold;">
                  Chapitre 7 : Le modèle 70/20/10
                </h5>

                <h5 class="heading-title" style="margin-top: 10px; font-weight: bold;">
                  Chapitre 8 : L’état d’esprit (Mindset) : les tares que les autres races reprochent aux Africains
                </h5>
                <ol>
                  <li>
                    Manque de discipline
                  </li>
                  <li>
                    Manque de rigueur
                  </li>
                  <li>
                    Complexe d’infériorité
                  </li>
                  <li>
                    Manque de patriotisme
                  </li>
                  <li>
                    Traitent dans le business avec des émotions plutôt qu’avec les intérêts
                  </li>
                  <li>
                    Naïveté dans les relations entre les états puissants, leurs multinationales et nos états.
                  </li>
                </ol>

                <h5 class="heading-title" style="margin-top: 10px; font-weight: bold;">
                  Chapitre 9 Rappels historiques
                </h5>
                <ol>
                  <li>
                    Contournement de l’Afrique par les Européens, en route vers les Indes
                  </li>
                  <li>
                    Découverte de l’Amérique par Christophe Colombe en 1492
                  </li>
                  <li>
                    Installation des comptoirs le long des côtes Africaines
                  </li>
                  <li>
                    La traite des Noirs et le commerce triangulaire
                  </li>
                  <li>
                    La révolution industrielle et ses conséquences sur l’Afrique
                  </li>
                  <li>
                    La conférence de Berlin en 1885
                  </li>
                  <li>
                    La colonisation de l’Afrique
                  </li>
                  <li>
                    La première guerre mondiale
                  </li>
                  <li>
                    La deuxième guerre mondiale
                  </li>
                  <li>
                    La décolonisation de l’Afrique
                  </li>
                  <li>
                    Le néocolonialisme
                  </li>
                  <li>
                    La guerre froide et ses conséquences sur l’Afrique
                  </li>
                  <li>
                    La chute du mur de Berlin et le repli partiel de l’Europe au début des années 1990
                  </li>
                  <li>
                    Les processus de démocratisation ;
                  </li>
                  <li>
                    Les mouvement djihadistes et leurs causes profondes ;
                  </li>
                  <li>
                    Les héros des luttes pour une véritable indépendance des 14 pays Africains utilisant le francs CFA,
                    perspectives
                  </li>
                </ol>

                <h5 class="heading-title" style="margin-top: 10px; font-weight: bold;">
                  Chapitre 10 : Les 11 clauses du pacte colonial : une convention léonine et spoliatrice
                </h5>

                <h5 class="heading-title" style="margin-top: 10px; font-weight: bold;">
                  Chapitre 11 Introduction à la guerre économique
                </h5>
                <ol>
                  <li>
                    C’est quoi la guerre économique ?
                  </li>
                  <li>
                    "L'Afrique, terrain de jeu mondial ». : une présentation de Dr.
                    Paul FOKAM, milliardaire, visionnaire et capitaine d'industrie Camerounais
                  </li>
                  <li>
                    Une présentation vidéo par VoXAFRICA sur la guerre économique :
                    le livre du Camerounais Maurice SIMO DJOM ;
                  </li>
                  <li>
                    Guerre économique : quand la victime ne se plie pas aux injonctions du prédateur,
                    la guerre économique peut se transformer en guerre tout court :
                    cas de la Cote d’Ivoire et de la RDC ;
                  </li>
                  <li>
                    Les causes profondes de l’assassinat du Colonel KADAFI
                  </li>
                  <li>
                    Origines et conséquences de la crise dans le Sahel
                  </li>
                </ol>
              </div>

            </div>
          </div>
          <!--//tabbed-info-->



          <br />

          <div class="fb-like" data-href="http://www.ipnetinstitute.com/#/coursMGT411" data-width=""
            data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
          </div>

        </article>
        <!--//course-item-->
      </div>
      <!--//course-wrapper-->
      <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
        <section class="widget has-divider">
          <app-prospectus></app-prospectus>
        </section>
        <!--//widget-->
        <section class="widget has-divider">
          <app-contact-short></app-contact-short>
        </section>
        <!--//widget-->
        <!-- <section class="widget has-divider">
					<h3 class="title">Nos filières</h3>
					<ul class="list-unstyled">
						<li *ngFor="let aCollege of colleges"><a
							href="#/collegeSingle" (click)="setCurrentCollege(aCollege)"><i
								class="fa fa-book"></i> {{aCollege.name}}</a></li>
					</ul>
				</section> -->
        <section style="padding: 10px;" class="widget has-divider">
          <h3 class="title">Nos filières</h3>
          <ul class="list-unstyled">
            <li *ngFor="let aCollege of colleges">
              <a *ngIf="aCollege.description !== null " [routerLink]="['/collegeSingle']"
                [queryParams]="{ id: aCollege.id }"><i class="fa fa-book"></i> {{aCollege.name}}</a>

              <a *ngIf="aCollege.description === null " [routerLink]="['/']"><i class="fa fa-book"></i>
                {{aCollege.name}}</a>
            </li>
          </ul>
        </section>
        <!--//widget-->
        <section class="widget has-divider">
          <a class="btn btn-cta" [routerLink]="['/onlineRegistration']" [queryParams]="{ event:'INSCRIPTION'}"><i
              class="fa fa-play-circle"></i>Inscription en ligne</a>
        </section>
        <!--//widget-->
      </aside>

    </div>
    <!--//page-row-->
    <!--iframe
			src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fipnetuniversity.com%2F%23%2FsystemeEnseignementInnovant%3Fid%3D56&width=450&layout=standard&action=like&size=large&show_faces=false&share=true&height=35&appId"
			width="450" height="35" style="border: none; overflow: hidden"
			scrolling="no" frameborder="0" allowTransparency="true"></iframe-->

  </div>

</div>