
<div class="page-wrapper">
    <header class="page-heading clearfix">
        <div class="row page-row">
            <div class="col-md-9 col-sm-8">
                <h1 class="heading-title pull-left">
                    Des installations de pointe pour une formation pratique
                    <span style="position: relative;/* left: 4%*/; top: 10px;">
            <!--div class="fb-like" data-href="http://www.ipnetinstitute.com/#/projetsProfesionnels" data-width=""
                 data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
            </div-->
            <div class="fb-like" data-href="http://www.ipnetinstitute.com/#/installationsDePointe" data-width=""
                 data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
            </div>
          </span>
                </h1>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">

                        <li class="breadcrumbs-label">Vous etes ici:</li>
                        <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                        <li class="current">Installations de pointe</li>

                    </ul>
                </div>
            </div>
        </div>
    </header>

	<div class="page-content">
		<div class="row page-row">
			<div class="course-wrapper col-md-8 col-sm-7">
				<article class="course-item">
					<p class="featured-image page-row" style="margin-bottom: 30px; !important;">
						<img class="img-responsive"
							src="assets/images/piliers/iPNet_iXP_System.jpg" alt="" />
					</p>

                    <!-- <h3 style="color: #A53838; font-weight: bolder;">
						Photos d’illustration : des installations de pointe pour une formation pratique :
					</h3> -->

					<ol type="1" style="padding: 15px;">

						<li style="color: #A53838; font-size: 16px;">
							<strong>Des laboratoires physiques spécialisés </strong>(Réseaux, Systèmes, Cybersécurité, Électrotechnique, Énergies Renouvelables, etc.) permettent aux étudiants de manipuler directement les équipements lors des travaux pratiques.
						</li>
						<img class="img-responsive" style="margin-bottom: 20px;"
													 src="assets/images/piliers/1.jpg" alt="" />
						<li style="color: #A53838; font-size: 16px;">

							<strong>Des partenariats stratégiques </strong> avec les plus grandes entreprises technologiques au monde - éditeurs et fabricants IT - pour garantir une formation orientée vers la pratique et adaptée aux besoins du marché

						</li>
						<img class="img-responsive" style="margin-bottom: 20px;"
													src="assets/images/piliers/2.jpg" alt="" />
						<li style="color: #A53838; font-size: 16px;">
							<strong>Un réseau informatique grandeur nature dédié aux formations, </strong> accessible en continu, sur site comme à distance, pour la mise en œuvre des projets professionnels des étudiants
						</li>
						<img class="img-responsive" style="margin-bottom: 20px;"
													 src="assets/images/piliers/3.jpg" alt="" />				
						<li style="color: #A53838; font-size: 16px;">
							<strong>Des travaux pratiques hebdomadaires notés, </strong>intégrés dans toutes les unités d’enseignement technologique
						</li>
						<img class="img-responsive" style="margin-bottom: 20px;"
													 src="assets/images/piliers/4.jpg" alt="" />
						<li style="color: #A53838; font-size: 16px;">
							<strong>Des projets professionnels réguliers </strong> afin de développer des diplômés capables de résoudre des problèmes concrets, de faire preuve de créativité et d’innovation
						</li>
						<img class="img-responsive" style="margin-bottom: 20px;"
													 src="assets/images/piliers/5.jpg" alt="" />
						<li style="color: #A53838; font-size: 16px;">
							<strong>Des espaces de coworking </strong> pensés pour rassembler étudiants, formateurs et encadreurs, et créer un environnement propice à l’innovation collaborative
						</li>
						<img class="img-responsive" style="margin-bottom: 20px;"
									src="assets/images/piliers/6.jpg" alt="" />
						<li style="color: #A53838; font-size: 16px;">
							<strong>Une méthode innovante de connexion avec le monde professionnel</strong>, pour renforcer l’employabilité et encourager l’entrepreneuriat chez les étudiants.
						</li>
						<img class="img-responsive" style="margin-bottom: 20px;"
													 src="assets/images/piliers/7.jpg" alt="" />
						<li style="color: #A53838; font-size: 16px;">
							<strong>Les cours de certifications professionnelles </strong> intégrés dans quasiment tous nos programmes de formation 
						</li>
						<img class="img-responsive" style="margin-bottom: 20px;"
													 src="assets/images/piliers/8.jpg" alt="" />
						<li style="color: #A53838; font-size: 16px;">
							<strong>Les Journées Portes Ouvertes Projets Étudiants (JPOPE) </strong> à l’occasion desquelles les recruteurs, chasseurs de têtes, partenaires académiques et le grand public, viennent découvrir le talent de nos étudiants
						</li>
						<img class="img-responsive" style="margin-bottom: 20px;"
													 src="assets/images/piliers/9.jpg" alt="" />
						<li style="color: #A53838; font-size: 16px;">
							<strong>Microsoft Teams Rooms e-Learning System, </strong> pour permettre aux experts enseignants à travers le monde, de donner des cours à nos étudiants dans des conditions comme s’ils étaient physiquement présents dans nos salles de classes
						</li>
						<img class="img-responsive" style="margin-bottom: 20px;"
									src="assets/images/piliers/10.jpg" alt="" />					
					</ol>

					<!--//page-row-->

					<!--//page-row-->

					<!--p class="featured-image page-row">
						<img class="img-responsive" style="margin-top: 40px;"
							 src="assets/images/piliers/FILIERES_DE_FORMATION_2019.png" alt="" />

						<img class="img-responsive" style="margin-top: 15px;"
							 src="assets/images/competences.jpg" alt="" />
					</p-->

					<!--//tabbed-info-->

                    <br />

                    <div class="fb-like" data-href="http://www.ipnetinstitute.com/#/installationsDePointe" data-width=""
                         data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                    </div>

				</article>
				<!--//course-item-->
			</div>
			<!--//course-wrapper-->
			<aside
				class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
				<section class="widget has-divider">
					<app-prospectus></app-prospectus>
				</section>
				<!--//widget-->
				<section class="widget has-divider">
					<app-contact-short></app-contact-short>
				</section>
				<!--//widget-->
				<!-- <section class="widget has-divider">
					<h3 class="title">Nos filières</h3>
					<ul class="list-unstyled">
						<li *ngFor="let aCollege of colleges"><a
							href="#/collegeSingle" (click)="setCurrentCollege(aCollege)"><i
								class="fa fa-book"></i> {{aCollege.name}}</a></li>
					</ul>
				</section> -->
                <section style="padding: 10px;" class="widget has-divider">
					<h3 class="title">Nos filières</h3>
					<ul class="list-unstyled">
						<li *ngFor="let aCollege of colleges">
							<a *ngIf="aCollege.description !== null "
							[routerLink]="['/collegeSingle']" [queryParams]="{ id: aCollege.id }"><i
								class="fa fa-book"></i> {{aCollege.name}}</a>

								<a *ngIf="aCollege.description === null "
								[routerLink]="['/']"><i
								class="fa fa-book"></i> {{aCollege.name}}</a>
							</li>
					</ul>
				</section>
				<!--//widget-->
				<section class="widget has-divider">
					<a class="btn btn-cta" [routerLink]="['/onlineRegistration']"
						[queryParams]="{ event:'INSCRIPTION'}"><i
						class="fa fa-play-circle"></i>Inscription en ligne</a>
				</section>
				<!--//widget-->
			</aside>

		</div>
		<!--//page-row-->
		<!--iframe
			src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fipnetuniversity.com%2F%23%2FsystemeEnseignementInnovant%3Fid%3D56&width=450&layout=standard&action=like&size=large&show_faces=false&share=true&height=35&appId"
			width="450" height="35" style="border: none; overflow: hidden"
			scrolling="no" frameborder="0" allowTransparency="true"></iframe-->

	</div>

</div>