
<div class="page-wrapper">
	<header class="page-heading clearfix">
		<h1 i18n="@@espaceParentLink" class="heading-title pull-left">
			<img class="thumb" src="assets/images/scoolday.png" alt="" />
		</h1>
		<div class="breadcrumbs pull-right">
			<ul class="breadcrumbs-list">
				<li i18n="@@youAreHere" class="breadcrumbs-label">Vous etes
					ici:</li>
				<li><a i18n="@@homeLink" href="index.html">Home</a><i
					class="fa fa-angle-right"></i></li>
				<li><a i18n="@@parent" href="#">Parent</a><i
					class="fa fa-angle-right"></i></li>
				<li i18n="@@academicRecord" class="current">Dossier Scolaire</li>
			</ul>
		</div>
		<!--//breadcrumbs-->
	</header>
	<div class="page-content">
		<div [hidden]="currentUser.role===4" class="alert alert-danger"
			i18n="@@youNeedToBeConnectedAsParent">Vous devez etre connecte
			en tant que parent pour voir ce contenu</div>
		<div class="row page-row" [hidden]="!(currentUser.role===4)">
			<app-parent-menu></app-parent-menu>
			<!--//page-sidebar-->
			<div class="content-wrapper col-md-10 col-sm-8">
				<div class="ui-grid-row" *ngIf="user.id > 0">
					<div class="ui-grid-col-12">
						<strong>{{user.firstName +' '+user.lastName}}</strong>
					</div>
				</div>
				<p-tabView id="tabList" (onChange)="onTabChange($event)">

				<p-tabPanel header="{{MY_CHILDREN}}" leftIcon="fa fa-search">
				<app-admin-user-list (onUserSelected)="onUserSelected($event)"></app-admin-user-list>
				</p-tabPanel> <p-tabPanel header="{{PROGRESSION}}" leftIcon="fa fa-bar-chart"
					*ngIf="user.id > 0"> <app-student-chart></app-student-chart>

				</p-tabPanel> <p-tabPanel header="{{INSCRIPTION_PAYMENT}}" leftIcon="fa fa-money"
					*ngIf="user.id > 0"> <app-admin-registration></app-admin-registration>
				</p-tabPanel> <p-tabPanel header="{{SCHOOL_RESULTS}}" leftIcon="fa fa-briefcase"
					*ngIf="user.id > 0"> <app-student-results></app-student-results>
				</p-tabPanel> <p-tabPanel header="{{ABSENCES}}" leftIcon="fa fa-bolt"
					*ngIf="user.id > 0"> <app-admin-schooling></app-admin-schooling>
				</p-tabPanel> <p-tabPanel header="{{SYLLABUS}}" leftIcon="fa fa-newspaper-o"
					*ngIf="user.id > 0"> <app-admin-syllabus></app-admin-syllabus>
				</p-tabPanel> <p-tabPanel header="{{TIME_TABLE}}" leftIcon="fa fa-calendar-o"
					*ngIf="user.id > 0"> <p-schedule [events]="events"
					[header]="headerConfig" [defaultView]="'agendaWeek'"
					minTime="07:00:00" maxTime="18:00:00" locale="fr"></p-schedule> </p-tabPanel> 
					<p-tabPanel header="Présence aux cours" leftIcon="fa fa-bar-chart" *ngIf="user.id > 0">
						<p-tabView id="tabList" (onChange)="onTabChange($event)">
							<p-tabPanel header="Présence" leftIcon="fa fa-bar-chart">
								<app-student-attendance></app-student-attendance>
							</p-tabPanel>
							<p-tabPanel header="Recherche" leftIcon="fa fa-search">
								<app-search-student-attendance></app-search-student-attendance>
							</p-tabPanel>
									
						</p-tabView>

					</p-tabPanel>
				</p-tabView>


			</div>
			<!--//content-wrapper-->
		</div>
		<!--//page-row-->
	</div>
	<!--//page-content-->
</div>
<!--//page-->
