<p-growl [(value)]="msgs"></p-growl>

<!-- <form (ngSubmit)="search()" #searchForm="ngForm">

  <div class="ui-grid ui-grid-responsive ui-fluid" [hidden]="currentUser.role>2 && currentUser.role!=8 
      && currentUser.role!=9 && currentUser.role!=10 && currentUser.role!=13 && currentUser.role!=14">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <p-radioButton name="groupname" value="0" label="Présence" [(ngModel)]="anyView.id1"></p-radioButton>
        <p-radioButton name="groupname" value="1" label="Absence" [(ngModel)]="anyView.id1"></p-radioButton>
      </div>
      <div class="ui-grid-col-3">
        <p-autoComplete [(ngModel)]="anyView.objet1" (onDropdownClick)="schoolYearDropdown.handleDropdownClick($event)"
          [suggestions]="schoolYearDropdown.filteredSchoolYears" [dropdown]="true" id="schoolYear"
          (completeMethod)="schoolYearDropdown.filter($event)" name="schoolYear" field="year" [size]="30"
          placeholder="{{SCHOOLYEAR}}" [minLength]="1" #schoolYear="ngModel"></p-autoComplete>
      </div>
      <div class="ui-grid-col-3">
        <p-autoComplete [(ngModel)]="anyView.objet2" (onDropdownClick)="classDropdown.handleDropdownClick($event)"
          [suggestions]="classDropdown.filteredClasses" [dropdown]="true" id="classe"
          (completeMethod)="classDropdown.filter($event)" name="classe" field="name" [size]="30"
          placeholder="Session/Classe" [minLength]="1" #classe="ngModel"></p-autoComplete>
      </div>
      
      <div class="ui-grid-col-3">
        <p-calendar  monthNavigator="true" yearRange="1940:2050" yearNavigator="true" id="birthDate" [(ngModel)]="anyView.date1" [showIcon]="true"
        name="noptionDate" #noptionDate="ngModel"  placeholder="Date"></p-calendar>
			</div>
      <div class="ui-grid-col-1">
        <button type="button" pButton icon="fa fa-search" (click)="search()" label="Go"
          style="margin-top: 0px; height: 35px;"></button>
      </div>
    </div>
  
  </div>
</form> -->


<!-- <p-dataTable [value]="anyViews" selectionMode="single" expandableRows="true" [paginator]="true" [rows]="15"
  [responsive]="true" (onRowExpand)="getStudentParent($event)" (onRowSelect)="onRowSelect($event)" >
  <p-column expander="true" styleClass="col-icon" [style]="{'width':'3%'}"></p-column>
  <p-column *ngFor="let col of cols" [style]="col.style" [field]="col.field" [header]="col.header"
    [sortable]="col.sortable" [filter]="col.filter">
   
       
  </p-column>
  <p-column field="status1" header="Etat" [style]="{'width':'8%'}" [sortable]="true">
    <ng-template let-data="rowData" let-rowIndex="rowIndex" pTemplate type="body">
      <div class="label-main" *ngIf="data.status1 === 0">
        <label class="label label-success" style="padding: 5px; border-radius: 5px;">Présent</label>
      </div>
      <div class="label-main" *ngIf="data.status1 === 1">
        <label class="label label-warning" style="padding: 5px; border-radius: 5px;">Sorti</label>
      </div>
      <div class="label-main" *ngIf="data.status1 === 2">
        <label class="label label-danger" style="padding: 5px; border-radius: 5px;">Absent</label>
      </div>
    </ng-template>
  </p-column>
 
  <ng-template let-subject pTemplate="rowexpansion">
    <p-dataTable [value]="parentview" selectionMode="single" expandableRows="false" [responsive]="true">

      <p-column *ngFor="let col of parentCols" [field]="col.field" [header]="col.header" [sortable]="col.sortable"
        [filter]="col.filter">
      </p-column>

    </p-dataTable>
  </ng-template>
</p-dataTable> -->

<form (ngSubmit)="search2()" #searchForm="ngForm">
  <div class="ui-grid ui-grid-responsive ui-fluid"
    [hidden]="currentUser.role>2 && currentUser.role!=8 && currentUser.role!=9 && currentUser.role!=10 && currentUser.role!=13 && currentUser.role!=14">
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        <p-radioButton name="status" [value]="0" label="Tous" [(ngModel)]="anyView.status1"></p-radioButton>
        <p-radioButton name="status" [value]="1" label="Présent" [(ngModel)]="anyView.status1"></p-radioButton>
        <p-radioButton name="status" [value]="2" label="Absent" [(ngModel)]="anyView.status1"></p-radioButton>
      </div>

      <div class="ui-grid-col-3">
        <p-autoComplete [(ngModel)]="anyView.objet1" (onDropdownClick)="schoolYearDropdown.handleDropdownClick($event)"
          [suggestions]="schoolYearDropdown.filteredSchoolYears" [dropdown]="true" id="schoolYear"
          (completeMethod)="schoolYearDropdown.filter($event)" name="schoolYear" field="year" [size]="30"
          placeholder="{{SCHOOLYEAR}}" [minLength]="1" #schoolYear="ngModel"></p-autoComplete>
      </div>

      <div class="ui-grid-col-3">
        <p-autoComplete [(ngModel)]="anyView.objet2" (onDropdownClick)="classDropdown.handleDropdownClick($event)"
          [suggestions]="classDropdown.filteredClasses" [dropdown]="true" id="classe"
          (completeMethod)="classDropdown.filter($event)" name="classe" field="name" [size]="30"
          placeholder="Session/Classe" [minLength]="1" #classe="ngModel"></p-autoComplete>
      </div>

      <div class="ui-grid-col-2">
        <p-calendar monthNavigator="true" yearRange="1940:2050" yearNavigator="true" id="date"
          [(ngModel)]="anyView.date1" [showIcon]="true" name="date" #date="ngModel" placeholder="Date"></p-calendar>
      </div>

      <div class="ui-grid-col-1">
        <button type="button" pButton icon="fa fa-search" (click)="search2()" label="Go"
          style="margin-top:0; height:35px;"></button>
      </div>
    </div>
  </div>
</form>

<p-dataTable [value]="stAttendancesResponse" selectionMode="single" expandableRows="true" [paginator]="true" [rows]="15"
  [responsive]="true">

  <p-column expander="true" styleClass="col-icon" [style]="{'width':'3%'}"></p-column>

  <p-column field="string1" header="Matricule" [sortable]="true" [filter]="true" [style]="{'width':'15%'}"></p-column>
  <p-column field="string2" header="Nom" [sortable]="true" [filter]="true" [style]="{'width':'35%'}"></p-column>
  <p-column field="string4" header="Sexe" [sortable]="true" [style]="{'width':'10%'}"></p-column>
  <p-column field="string6" header="Téléphone" [sortable]="true" [style]="{'width':'15%'}"></p-column>

  <p-column field="string8" header="État" [style]="{'width':'8%'}" [sortable]="true">
    <ng-template let-data="rowData" pTemplate="body">
      <span *ngIf="data.string8=='Présent'" class="label label-success"
        style="padding:5px;border-radius:5px;">Présent</span>
      <span *ngIf="data.string8=='Absent'" class="label label-danger"
        style="padding:5px;border-radius:5px;">Absent</span>
      <span *ngIf="data.string8=='Pas de cours'" class="label label-info" style="padding:5px;border-radius:5px;">Pas de
        cours</span>
    </ng-template>
  </p-column>

  <ng-template let-student pTemplate="rowexpansion">
    <div style="margin: 20px;">

      <p-dataTable [value]="student.courses" selectionMode="single" [responsive]="true">
      <p-column field="string3" header="Jour" [style]="{'width':'15%'}"></p-column>
      <p-column field="string4" header="Horaire" [style]="{'width':'15%'}"></p-column>
      <p-column field="string1" header="Matière" [style]="{'width':'25%'}"></p-column>
      <p-column field="string5" header="Statut" [style]="{'width':'12%'}">
        <ng-template let-data="rowData" pTemplate="body">
          <span *ngIf="data.string5=='À l’heure'" class="label label-success" style="padding:5px;border-radius:5px;">
            À l’heure
          </span>
          <span *ngIf="data.string5=='En retard'" class="label label-warning" style="padding:5px;border-radius:5px;">
            En retard
          </span>
          <span *ngIf="data.string5=='Absent'" class="label label-danger" style="padding:5px;border-radius:5px;">
            Absent
          </span>
        </ng-template>
      </p-column>

    </p-dataTable>

    </div>
    
  </ng-template>
</p-dataTable>