<meta charset="utf-8" />
<div class="page-wrapper">
	<header class="page-heading clearfix">
		<h1 class="heading-title pull-left">
			Groupe iPNet <span style="position: relative; left: 4%; top: 10px;">
				<iframe
					src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fipnetuniversity.com%2F%23%2Fprivacy&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId"
					width="450" height="35" style="border: none; overflow: hidden"
					scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</span>
		</h1>

		<div class="breadcrumbs pull-right">
			<ul class="breadcrumbs-list">
				<li class="breadcrumbs-label">Vous etes ici:</li>
				<li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
				<li class="current">Groupe iPNet</li>
			</ul>
		</div>
		<!--//breadcrumbs-->
	</header>
	<div class="page-content">
		<div class="row page-row">
			<div class="privacy-wrapper col-md-12 col-sm-12">
				<div class="page-row">
					<p>
						IPNET EXPERTS SA, société anonyme (une SA) au capital de
						100.000.000 F de francs CFA depuis le 1er Janvier 2009, est un
						intégrateur de solutions informatiques spécialisé en sécurité
						informatique basé à Lomé. <br> Fondée en Juin 2003, IPNET
						EXPERTS SA offre des services au TOGO, BENIN, NIGER, BURKINA,
						MALI, TCHAD, GABON, RCA, CONGO BRAZZA, et GUINEE Conakry. Depuis
						2017, IPNET EXPERTS SA s’est transformé en un Groupe, comprenant
						IPNET EXPERTS SA (www.ipnetexperts.com) et IPNET INSTITUTE OF
						TECHNOLOGY (www.ipnetuniversity.com), couvrant les activités
						suivantes : <br><br>
						<b>IPNET EXPERTS SA</b> <br> <i
							class="fa fa-caret-right"></i> Intégration de Solutions <br>
						<i class="fa fa-caret-right"></i> Audit Informatique<br> <i
							class="fa fa-caret-right"></i> Conseil Informatique<br> <i
							class="fa fa-caret-right"></i> Formations
					</p>

					<br>

					<p>
						<b>IPNET INSTITUTE OF TECHNOLOGY</b> <br> <i
							class="fa fa-caret-right"></i> Université Technologique<br>
					</p>

					<div class="row">
						<div class="col-md-3" *ngFor="let cycle of cycles" >
							<h5>{{cycle.colleges.length}} {{cycle.name}}</h5>
							<div *ngFor="let college of cycle.colleges">
								<i class="fa fa-caret-right"></i> {{college.name}}<br>
							</div>
							
						</div>
					</div>


					<br>

					<p>
						Conscient de l’évolution sans cesse des technologies de pointe en
						informatique, nous nous sommes dotés d’un important réseau
						informatique grandeur nature qui sert trois objectifs : <br>
						<i class="fa fa-caret-right"></i> Test de nouvelles solutions
						informatiques avant de les proposer à nos clients ; <br> <i
							class="fa fa-caret-right"></i> Permettre à nos ingénieurs d’être à
						la pointe de la technologie par un entrainement permanent<br>
						<i class="fa fa-caret-right"></i> Utiliser la même infrastructure
						pour la formation de nos clients et de nos étudiants

					</p>




				</div>

				<!--<div class="page-row">
					<img src="assets/images/ipnetgroup.jpg" alt="" width="100%" />
				</div>-->
			</div>
			<iframe
				src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fipnetuniversity.com%2F%23%2Fprivacy&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId"
				width="450" height="80" style="border: none; overflow: hidden"
				scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		</div>
		<!--//page-row-->
	</div>
	<!--//page-content-->

</div>
<!--//page-->

