<div class="page-wrapper">
    <header class="page-heading clearfix">
        <div class="row page-row">
            <div class="col-md-9 col-sm-8">
                <h1 class="heading-title pull-left">
                    Projets Professionnels Etudiants (Licences, Masters, Certificats Professionnels) en cours ou déjà réalisés
                    <span style="position: relative;/* left: 4%*/; top: 10px;">
            <div class="fb-like" data-href="http://www.ipnetinstitute.com/#/projetsProfesionnels" data-width=""
                 data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true">
            </div>
          </span>
                </h1>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="breadcrumbs pull-right">
                    <ul class="breadcrumbs-list">

                        <li class="breadcrumbs-label">Vous etes ici:</li>
                        <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                        <li class="current">Les projets</li>

                    </ul>

                </div>
            </div>
        </div>
    </header>
    <div class="page-content">
        <div class="row page-row">
            <div class="faq-wrapper col-md-9 col-sm-8">
                <p class="featured-image page-row" style="margin-bottom: 30px;">
                    <img class="img-responsive" src="assets/images/piliers/iPNet_iXP_System.jpg" alt="" />
                </p>

                <section class="promo box box-dark">
	<div class="col-md-9">
		<h2 class="section-heading">Journées Portes Ouvertes Projets Etudiants, JPOPE 2025, 30 Août 2025</h2>

	</div>
	<div class="col-md-3">

		<a class="btn btn-cta"
			style="margin-top: 18px; padding-top: 5px; padding-bottom: 5px;"
			[routerLink]="['/jpope']"
			><i
			class="fa fa-play-circle"></i>Inscription en ligne</a>

	</div>
</section>

 
                      <P style="font-size: 16px;">Ci-dessous, la liste des projets professionnels étudiants, organisés par filières. Cliquer sur chaque solution vous permettra de voir les
                   différentes équipes étudiants qui travaillent sur la solution.</P>

                   <p-dialog header="Détails du projet" [(visible)]="displayDialog"
                   [responsive]="true" showEffect="fade" [modal]="true" width="1300"
                   [contentStyle]="{ 'max-height': '80vh', 'overflow': 'auto' }" [positionTop]="10">
                           
                   <h1 class="text-dark my-4" style="font-weight: bolder;">
                    {{ spc.projectName }}
                </h1>
                
                           
                        <div>
                            <div class="panel-body" style="padding-left: 10px; padding-top: 0px">
                                <div [innerHTML]="spc.projectDescription"></div>
                            </div>

                            <ng-container>
                                <div class="row page-row" style="margin: 10px; margin-bottom: 0px">
                                    <!--//page-row-->
                                    <div class="tabbed-info page-row">
                                        <ul class="nav nav-tabs">
                                            <li [class.active]="activeTab === 'LP'" (click)="accordionClicked(spc,'LP')">
                                                <a href="#tab1" data-toggle="tab">Licences</a>
                                            </li>
                                            <li [class.active]="activeTab === 'LPCC'" (click)="accordionClicked(spc,'LPCC')">
                                                <a href="#tab1" data-toggle="tab">Licences Cours du Soir</a>
                                            </li>
                                            <li [class.active]="activeTab === 'MP'" (click)="accordionClicked(spc,'MP')">
                                                <a href="#tab1" data-toggle="tab">Masters</a>
                                            </li>
                                            <li [class.active]="activeTab === 'CPCL'" (click)="accordionClicked(spc,'CPCL')">
                                                <a href="#tab1" data-toggle="tab">Certificats Professionnels</a>
                                            </li>
                                        </ul>
                                        
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <ng-container *ngIf="isLoading">
                                                    <p style="margin-left: 10px">Chargement ...</p>
                                                </ng-container>

                                                <ng-container
                                                    *ngIf="!isLoading && studentProjectsTopicStudentsPhasesView.length==0">
                                                    <div class="alert alert-danger"
                                                        style="margin: 0px 10px 20px 10px">
                                                        Aucun étudiant ne travaille sur ce projet
                                                    </div>
                                                </ng-container>

                                                <ng-container
                                                    *ngIf="!isLoading && studentProjectsTopicStudentsPhasesView.length>0">
                                                    <ol>
                                                        <ng-container
                                                            *ngFor="let sptspv of studentProjectsTopicStudentsPhasesView; let index3 = index">
                                                            <!--li style="font-size: 17px; font-weight: bold;" *ngIf="studentProjectsTopicStudentsPhasesView.length > 1"-->
                                                            <li style="font-size: 17px; font-weight: bold">
                                                                Groupe N° {{ index3 + 1 }}
                                                            </li>

                                                            <ul style="margin-left: 12px">
                                                                <li style="font-weight: bold">
                                                                    Liste des étudiants
                                                                </li>
                                                            </ul>

                                                            <div style="padding: 0px 10px 20px 10px">
                                                                <p-dataTable [value]="sptspv.projectUsers"
                                                                    *ngIf="sptspv">
                                                                    <p-column
                                                                        [style]="{'width':'30%','text-align': 'left'}"
                                                                        header="Nom"
                                                                        field="studentName"></p-column>
                                                                    <p-column
                                                                        [style]="{'width':'35%','text-align': 'left'}"
                                                                        header="Email"
                                                                        field="studentEmail"></p-column>
                                                                    <p-column
                                                                        [style]="{'width':'15%','text-align': 'left'}"
                                                                        header="Téléphone"
                                                                        field="studentPhone"></p-column>
                                                                    <p-column
                                                                        [style]="{'width':'5%','text-align': 'left'}"
                                                                        header="Sexe"
                                                                        field="studentSex"></p-column>
                                                                    <p-column
                                                                        [style]="{'width':'15%','text-align': 'left'}"
                                                                        header="Promotion"
                                                                        field="studentProjectPromotion"></p-column>
                                                                </p-dataTable>
                                                            </div>

                                                            <ul style="margin-left: 12px">
                                                                <li style="font-weight: bold">
                                                                    Les étapes du projet
                                                                </li>
                                                            </ul>

                                                            <div style="padding: 0px 10px 20px 10px"
                                                                *ngIf="sptspv">
                                                                <p-dataTable [value]="sptspv.projectPhases">
                                                                    <p-column [style]="{'width':'10%'}"
                                                                        header="Phase"
                                                                        field="ordreExecution"></p-column>
                                                                    <p-column [style]="{'width':'70%'}"
                                                                        header="Nom"
                                                                        field="name"></p-column>
                                                                    <p-column [style]="{'width':'10%'}"
                                                                        header="Pourcentage"
                                                                        field="percentage"></p-column>
                                                                    <p-column
                                                                        field="studentProjectCollegePhaseStatus"
                                                                        header="Etat"
                                                                        [style]="{'width':'10%'}">
                                                                        <ng-template let-data="rowData"
                                                                            let-rowIndex="rowIndex"
                                                                            pTemplate type="body">
                                                                            <i *ngIf="data.studentProjectCollegePhaseStatus"
                                                                                style="color: green"
                                                                                class="fa fa-check"></i>
                                                                            <i *ngIf="!data.studentProjectCollegePhaseStatus"
                                                                                style="color: red"
                                                                                class="fa fa-close"></i>
                                                                        </ng-template>
                                                                    </p-column>
                                                                </p-dataTable>
                                                            </div>

                                                            <ul style="margin-left: 12px">
                                                                <li style="font-weight: bold">
                                                                    Niveau de progression du projet
                                                                </li>
                                                            </ul>

                                                            <div id="myProgress" style="
                            /*width: 100%; */
                            background-color: grey;
                            margin: 0px 10px 20px 10px;
                          ">
                                                                <div id="myBar"
                                                                    [style.width]="sptspv.totalPercentagePhaseOK + '%'">
                                                                    {{ sptspv.totalPercentagePhaseOK }} %
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                    </ol>
                                                </ng-container>

                                                
                                            </div>
                                            <!--div class="tab-pane" id="tab2">
                                                    Tab 2
                                                </div>
                                                <div class="tab-pane" id="tab5">
                                                    Tab 5
                                                </div-->
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <!-- <ng-container
                                *ngIf="studentProjectsCategoriesView[index].projectDescriptionDocument">
                                <div style="margin: 0px 10px 20px 10px">
                                    <a class="btn btn-theme"
                                        (click)="onDownloadClik(studentProjectsCategoriesView[index].projectDescriptionDocument)"><i
                                            class="fa fa-download"></i> Télécharger la
                                        description détaillée du projet</a>

                                    <div *ngIf="error" class="alert alert-danger">
                                        {{error}}
                                    </div>
                                </div>
                            </ng-container> -->

                            
                        </div>

            
                        <footer>
                            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                                <button pButton label="Fermer" icon="pi pi-times" (click)="closeDialog()" class="p-button-text"></button>
                            </div>
                        </footer> 
                    </p-dialog>

                   <div class="row">
                    <div class="col-md-12 col-sm-12" *ngFor="let college of colleges">
                        <h3 style="color: rgb(121, 4, 4); font-weight: bolder">
                            {{college.nameShort}}
                        </h3>
                        <div class="panel-group" id="accordion111">
                            <ng-container *ngFor="let th of college.themes; let index = index">
                               
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion111"
                                                
                                                class="collapsed" aria-expanded="false"
                                                href="#projet{{college.id}}-{{th.id}}">
                                                {{th.name}}
                                            </a>
                                        </h4>
                                    </div>
                                    <!--//pane-heading-->
                                    <div id="projet{{college.id}}-{{th.id}}" class="panel-collapse collapse">
                                        <div *ngFor="let spc of th.projets; let i = index">

                                            <a class="btn btn-link text-primary"
                                            (click)="showDialogToAdd(spc)">
                                            <i class="fas fa-folder" style="margin: 5px;"></i>{{ spc.projectName }}
                                         </a>
                                         

                                           
                                            <!-- <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                       
                                                    </h4>
                                                </div>
                                             
                                                <div id="projet{{index}}" class="panel-collapse collapse">
                                                    <div class="panel-body" style="padding-left: 10px; padding-top: 0px;">
                                                        <div [innerHTML]="spc.projectDescription"></div>
                                                    </div>
                    
                                                    
                                                </div>
                                            </div> -->
                                        </div>

                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <p style="font-size: 16px;">Une méthode innovante de connexion avec le monde professionnel, pour renforcer l’employabilité et encourager l’entrepreneuriat chez les étudiants.</p>
                <div>
                    <img src="assets/images/liens.jpg" alt="" style="width: 1000px;">
                </div>

                <h3 style="margin: 10px;font-weight: bolder;">Les objectifs des projets professionnels étudiants</h3>
                <p style="font-size: 18px; margin-top: 25px;">Former des diplômés rompus à la résolution des problèmes ("problem-solving skills"), connecter les étudiants aux entreprises et
                    inspirer de futurs entrepreneurs :</p>


                <ol>
                    <li style="font-size: 20px;">Former des diplômés opérationnels :</li>
                    <ul style="font-size: 16px;list-style-type: square;">
                        <li>Le diplômé est rompu à la résolution des problèmes techniques, car, durant toute sa formation, il s’est entrainé, au moyen des
                            travaux pratiques sur notre réseau informatique grandeur-nature, accessible aux étudiants 7jours/7, 365jours/365 ;</li>
                        <li>Le diplômé est formé au travail en équipe ;</li>
                        <li>Le diplômé est formé à la conduite, de bout en bout, de projets informatiques d’envergure.</li>
                    </ul>
                    <li style="font-size: 20px;">Connecter l’étudiant aux entreprises</li>
                    <ul style="font-size: 16px; list-style-type: square;">
                        <li> Les entreprises d’Afrique Noire Francophone (bientôt les pays Anglophones aussi) sont informées, par mass emailing, de notre démarche de projets
                             professionnels étudiants, et peuvent consulter, sur <a href="https://www.ipnetinstitute.com/#/projets">https://www.ipnetinstitute.com/#/projets</a> , les solutions sur lesquelles travaillent nos
                             différentes équipes étudiants, vérifier le niveau d’avancement sur le projet (mesuré de 0% à 100%), de sorte à cibler et contacter les étudiants
                             dont le profil les intéresse, pour une interview en vue d’un stage ou un emploi ;</li>
                             <li>Mieux, recruteurs et directeurs informatiques du Togo et des pays de la sous-région, sont invités chaque année, à l’occasion de
                                 « Journées portes ouvertes sur les projets étudiants », à venir découvrir les présentations et démonstrations de nos étudiants sur
                                 leurs projets. Les prochaines journées portes ouvertes sur les projets étudiants auront lieu le 03 Septembre 2022.</li>

                    </ul>
                    <li style="font-size: 20px;">Inspirer de futurs entrepreneurs :</li>
                            <ul style="font-size: 16px;list-style-type: square;">
                                <li>Qui développe la passion pour un sujet accroît ses chances d’entreprendre dans le domaine ;</li>
                                <li>Un étudiant qui travaille durant tout son cursus sur une solution informatique, qu’il a choisie lui-même, a plus de chance de
                                    développer de l’expertise et une passion sur le sujet ;</li>
                                    <li>La plupart des créateurs d’entreprises en informatique ont pensé leur projet sur les bancs de l’Université :
                                         <strong>Bill Gates</strong> (Microsoft), <strong>Steve Jobs</strong> (Apple), <strong>Linus Torvalds</strong> (Linux),
                                          <strong>Mark Zuckerberg</strong> (Facebook), pour ne citer que ceux-là.</li>
                            </ul>
                </ol>

               

            </div>
            <aside class="page-sidebar  col-md-3  col-sm-4   col-xs-12">
                <section class="widget has-divider">
                    <app-one-video></app-one-video>
                </section>
                <section class="widget has-divider">
                    <app-prospectus></app-prospectus>
                </section>
                <!--//widget-->
                <section class="widget has-divider">
                    <app-contact-short></app-contact-short>
                </section>
            </aside>
            <!--//page-row-->
        </div>
        <!-- <img src="assets/images/jp.jpg" alt="" style="width: 980px; margin-top: -20px; margin-bottom: 30px;" /> -->
         <!-- <img src="assets/images/Integration.jpg" alt="" style="width: 980px; margin-top: -20px; margin-bottom: 30px;" /> -->
          <!-- <h5 style="font-size: 20px;">LEGENDE </h5>
                    <ul style="list-style-type: square; font-size: 16px;">
                           <li>LPCS : Licence Professionnelle Cyber Sécurité</li>
                           <li>LPRSS : Licence Professionnelle Réseaux Système et Sécurité</li>
                           <li>LPGL : Licence Professionnelle Génie Logiciel</li>
                           <li>LPWIM :  Licence Professionnelle Webdesign Infographie et Multimédia</li>
                           <li>LPDWM :  Licence Professionnelle Développement Web et Mobile </li>
                           <li>LPGEER : Licence Professionnelle Génie Electrotechnique et Energies Renouvelables</li>
                           <li>MPCS : Master Professionnel Cyber Sécurité</li>
                           <li>MPRSS : Master Professionnel Réseaux Système et Sécurité</li>
                           <li>MPGL : Master Professionnel Génie Logiciel </li>
                           <li>ADMIN RESEAUX : Certificat en Administration Réseaux, Systèmes & Cybersécurité en 15 Mois</li>
                       </ul> -->
        <div class="fb-like" data-href="http://www.ipnetinstitute.com/#/projetsProfesionnels" data-width=""
             data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>

</div>
<!--//page-->