
<p-dataTable [value]="attendanceDetails" [responsive]="true" [rows]="15"  [paginator]="true">
    <p-column header="Ordre" [style]="{'width':'3%'}">	
        <ng-template let-i="rowIndex" pTemplate="body">
            {{i+1}}
        </ng-template>
    </p-column>  
    <p-column field="attendance.createDate" header="Date" [style]="{'width':'10%'}">
        <ng-template let-attendance="rowData" pTemplate="body">
            {{ attendance.createDate | date:'dd/MM/yyyy' }}
        </ng-template>
    </p-column>
    
    <p-column
        field="descHour" header="Heure" [style]="{'width':'8%'}">
    </p-column>
    <p-column
        field="attendance.subjectCode" header="Code" [style]="{'width':'7%'}">
    </p-column>
    <p-column
        field="attendance.subjectName" header="Cours" [style]="{'width':'30%'}">
    </p-column>
    
    <p-column field="estPresent" header="Etat" [style]="{'width':'5%'}" >
        <ng-template   pTemplate type="body" let-data="rowData">
         
            <div class="label-main" *ngIf="data.estPresent == 1">
              <label class="label label-success" style="padding: 5px; border-radius: 5px;">Présent</label>
            </div>
            <div class="label-main" *ngIf="data.estPresent == 0">
              <label class="label label-danger" style="padding: 5px; border-radius: 5px;">Absent</label>
            </div>
        </ng-template>
    </p-column>
</p-dataTable>