
<div class="page-wrapper">
	<header class="page-heading clearfix">
		<!--div class="row page-row">
			<div class="col-md-8 col-sm-8"-->
			<h1 class="heading-title pull-left">
				iPNet iXP, un système d’enseignement innovant
				<span
					style="position: relative; left: 4%; top: 10px;"> <iframe
						src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fipnetuniversity.com%2F%23%2FsystemeEnseignementInnovant%3Fid%3D2&width=450&layout=standard&action=like&size=large&show_faces=false&share=true&height=35&appId"
						width="450" height="35" style="border: none; overflow: hidden"
						scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</span>
			</h1>
				&nbsp;&nbsp;&nbsp;&nbsp;<!--a class="btn btn-theme" style="right: 4px;" target="_blank"
										   href="assets/docs/LES_9_PILIERS_DE_NOTRE_SYSTEME_D_ENSEIGNEMENT.pdf"><i class="fa fa-download"></i>
				Télécharger</a-->
			<!--/div-->

			<!--div class="col-md-4 col-sm-4"-->
			<div class="breadcrumbs pull-right">
				<ul class="breadcrumbs-list">

					<li class="breadcrumbs-label">Vous etes ici:</li>
					<li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
					<li class="current">iPNet iXP, un système d’enseignement innovant</li>

				</ul>
			</div>
		<!--/div>
		</div-->
		<!--//breadcrumbs-->
	</header>
	<div class="page-content">
		<div class="row page-row">
			<div class="course-wrapper col-md-8 col-sm-7">
				<article class="course-item">
					<p class="featured-image page-row" style="margin-bottom: 30px; ">
						<img class="img-responsive"
							src="assets/images/piliers/iPNet_iXP.jpg" alt="" />
					</p>

					<!-- <h3 style="color: #A53838; font-weight: bolder;">
						A. IPNET iXP (Innovation, eXperience, Practice) 
					</h3>

					<p style="font-size: 15px;">
					<strong>IPNET iXP (Innovation, eXperience, Practice)</strong> est le système d’enseignement supérieur innovant et inédit, développé par IPNET Institute of Technology. 
					Il repose sur une pédagogie unique mêlant cours théoriques, travaux pratiques intensifs et projets professionnels déployés sur une infrastructure informatique grandeur nature.
					</p>

					<h3 style="color: #A53838; font-weight: bolder;">
						B. Les 10 piliers de iPNet iXP : la pratique au centre de l’excellence
					</h3>

					<ol type="1" style="padding: 15px;">

						
						<li style="font-size: 15px;">
							<strong>Des laboratoires physiques spécialisés </strong>(Réseaux, Systèmes, Cybersécurité, Électrotechnique, Énergies Renouvelables, etc.) permettent aux étudiants de manipuler directement les équipements lors des travaux pratiques.
						</li>
						<li style="font-size: 15px;">
							<strong>Des partenariats stratégiques </strong> avec les plus grandes entreprises technologiques au monde - éditeurs et fabricants IT - pour garantir une formation orientée vers la pratique et adaptée aux besoins du marché
						</li>
						<li style="font-size: 15px;">
							<strong>Un réseau informatique grandeur nature dédié aux formations, </strong> accessible en continu, sur site comme à distance, pour la mise en œuvre des projets professionnels des étudiants
						</li>
						<li style="font-size: 15px;">
							<strong>Des travaux pratiques hebdomadaires notés, </strong>intégrés dans toutes les unités d’enseignement technologique
						</li>
						<li style="font-size: 15px;">
							<strong>Des projets professionnels réguliers </strong> afin de développer des diplômés capables de résoudre des problèmes concrets, de faire preuve de créativité et d’innovation
						</li>
						<li style="font-size: 15px;">
							<strong>Des espaces de coworking </strong> pensés pour rassembler étudiants, formateurs et encadreurs, et créer un environnement propice à l’innovation collaborative
						</li>
						<li style="font-size: 15px;">
							<strong>Une méthode innovante de connexion avec le monde professionnel</strong>, pour renforcer l’employabilité et encourager l’entrepreneuriat chez les étudiants.
						</li>
						<li style="font-size: 15px;">
							<strong>Les cours de certifications professionnelles </strong> intégrés dans quasiment tous nos programmes de formation 
						</li>
						<li style="font-size: 15px;">
							<strong>Les Journées Portes Ouvertes Projets Étudiants (JPOPE) </strong> à l’occasion desquelles les recruteurs, chasseurs de têtes, partenaires académiques et le grand public, viennent découvrir le talent de nos étudiants
						</li>
						<li style="font-size: 15px;">
							<strong>Microsoft Teams Rooms e-Learning System, </strong> pour permettre aux experts enseignants à travers le monde, de donner des cours à nos étudiants dans des conditions comme s’ils étaient physiquement présents dans nos salles de classes
						</li>
								
					</ol> -->

					<h3 style="color: #A53838; font-weight: bolder;">
						Photos d’illustration des installations de pointe pour une formation pratique
					</h3>

					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   class="collapsed" aria-expanded="false"
									   href="#collapse-installation-pointe"><strong>Des laboratoires physiques spécialisés </strong>(Réseaux, Systèmes, Cybersécurité, Électrotechnique, Énergies Renouvelables, etc.) permettent aux étudiants de manipuler directement les équipements lors des travaux pratiques.</a>
								</h4>
							</div>
							<!--//pane-heading-->
							<div id="collapse-installation-pointe" class="panel-collapse collapse">
								<div class="panel-body">

								<img class="img-responsive" style="padding: 10px; height: 20%;"
													 src="assets/images/piliers/1.jpg" alt="" />
								<!-- <img class="img-responsive" style="padding: 10px; height: 20%;"
													 src="assets/images/piliers/LES_LABS_LPGEER_IPNET.jpg" alt="" /> -->

									
								</div>
								<!--//panel-body-->
							</div>
							<!--//panel-colapse-->
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   class="collapsed" aria-expanded="false"
									   href="#deux"><strong>Des partenariats stratégiques </strong> avec les plus grandes entreprises technologiques au monde - éditeurs et fabricants IT - pour garantir une formation orientée vers la pratique et adaptée aux besoins du marché</a>
								</h4>
							</div>
							<!--//pane-heading-->
							<div id="deux" class="panel-collapse collapse">
								<div class="panel-body">

									<img class="img-responsive" style="padding: 10px; height: 20%;"
									src="assets/images/piliers/2.jpg" alt="" />
									
								</div>
								<!--//panel-body-->
							</div>
							<!--//panel-colapse-->
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   class="collapsed" aria-expanded="false"
									   href="#trois"><strong>Un réseau informatique grandeur nature dédié aux formations, </strong> accessible en continu, sur site comme à distance, pour la mise en œuvre des projets professionnels des étudiants</a>
								</h4>
							</div>
							<!--//pane-heading-->
							<div id="trois" class="panel-collapse collapse">
								<div class="panel-body">

									<img class="img-responsive" style="padding: 10px; height: 20%;"
													 src="assets/images/piliers/3.jpg" alt="" />
									
								</div>
								<!--//panel-body-->
							</div>
							<!--//panel-colapse-->
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   class="collapsed" aria-expanded="false"
									   href="#quatre"><strong>Des travaux pratiques hebdomadaires notés, </strong>intégrés dans toutes les unités d’enseignement technologique</a>
								</h4>
							</div>
							<!--//pane-heading-->
							<div id="quatre" class="panel-collapse collapse">
								<div class="panel-body">

									<img class="img-responsive" style="padding: 10px; height: 20%;"
													 src="assets/images/piliers/4.jpg" alt="" />
									
								</div>
								<!--//panel-body-->
							</div>
							<!--//panel-colapse-->
						</div>
						<!-- <div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   class="collapsed" aria-expanded="false"
									   href="#cinq"><strong>Des partenariats stratégiques</strong> avec les plus grandes entreprises et institutions technologiques (Cisco Networking Academy, Oracle Academy, Fortinet Network Security Academy, Palo Alto Networks Cybersecurity Academy, RedHat Academy, PMI, Microsoft Azure Lab Services, EC-Council, CompTIA, Huawei ICT Academy, ISACA, AWS Academy) pour garantir une formation alignée sur les standards du marché.</a>
								</h4>
							</div>
							
							<div id="cinq" class="panel-collapse collapse">
								<div class="panel-body">

									<img class="img-responsive" style="padding: 10px; height: 20%;"
													 src="assets/images/piliers/NOS_PARTENARIATS_STRATEGIQUE.png" alt="" />
									
								</div>
							
							</div>
						
						</div> -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   class="collapsed" aria-expanded="false"
									   href="#six">
									   <strong>Des projets professionnels réguliers </strong> afin de développer des diplômés capables de résoudre des problèmes concrets, de faire preuve de créativité et d’innovation
										<!-- <ul>
											<li>projets tout au long du parcours de Licence et de Master,</li>
											<li>Un projet tous les 3 à 6 mois dans les formations modulaires.</li>
										</ul> -->
									</a>
								</h4>
							</div>
							<!--//pane-heading-->
							<div id="six" class="panel-collapse collapse">
								<div class="panel-body">

									<img class="img-responsive" style="padding: 10px; height: 20%;"
													 src="assets/images/piliers/5.jpg" alt="" />
									
								</div>
								<!--//panel-body-->
							</div>
							<!--//panel-colapse-->
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   class="collapsed" aria-expanded="false"
									   href="#sept">
									   <strong>Des espaces de coworking </strong> pensés pour rassembler étudiants, formateurs et encadreurs, et créer un environnement propice à l’innovation collaborative
									</a>
								</h4>
							</div>
							<!--//pane-heading-->
							<div id="sept" class="panel-collapse collapse">
								<div class="panel-body">
									<img class="img-responsive" style="padding: 10px; height: 20%;"
									src="assets/images/piliers/6.jpg" alt="" />
																	</div>
								<!--//panel-body-->
							</div>
							<!--//panel-colapse-->
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   class="collapsed" aria-expanded="false"
									   href="#huit">
									   <strong>Une méthode innovante de connexion avec le monde professionnel</strong>, pour renforcer l’employabilité et encourager l’entrepreneuriat chez les étudiants.
									</a>
								</h4>
							</div>
							<!--//pane-heading-->
							<div id="huit" class="panel-collapse collapse">
								<div class="panel-body">
									<img class="img-responsive" style="padding: 10px; height: 20%;"
													 src="assets/images/piliers/7.jpg" alt="" />
								</div>
								<!--//panel-body-->
							</div>
							<!--//panel-colapse-->
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   class="collapsed" aria-expanded="false"
									   href="#neuf">
									   <strong>Les cours de certifications professionnelles </strong> intégrés dans quasiment tous nos programmes de formation 
									</a>
								</h4>
							</div>
							<!--//pane-heading-->
							<div id="neuf" class="panel-collapse collapse">
								<div class="panel-body">
									<img class="img-responsive" style="padding: 10px; height: 20%;"
													 src="assets/images/piliers/8.jpg" alt="" />
								</div>
						
							</div>
							<!--//panel-colapse-->
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   class="collapsed" aria-expanded="false"
									   href="#dix">
									   <strong>Les Journées Portes Ouvertes Projets Étudiants (JPOPE) </strong> à l’occasion desquelles les recruteurs, chasseurs de têtes, partenaires académiques et le grand public, viennent découvrir le talent de nos étudiants
									</a>
								</h4>
							</div>
							<!--//pane-heading-->
							<div id="dix" class="panel-collapse collapse">
								<div class="panel-body">
									<img class="img-responsive" style="padding: 10px; height: 20%;"
													 src="assets/images/piliers/9.jpg" alt="" />
								</div>
								<!--//panel-body-->
							</div>
							<!--//panel-colapse-->
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
									   class="collapsed" aria-expanded="false"
									   href="#onze">
									   <strong>Microsoft Teams Rooms e-Learning System, </strong> pour permettre aux experts enseignants à travers le monde, de donner des cours à nos étudiants dans des conditions comme s’ils étaient physiquement présents dans nos salles de classes
									</a>
								</h4>
							</div>
							<!--//pane-heading-->
							<div id="onze" class="panel-collapse collapse">
								<div class="panel-body">
									<img class="img-responsive" style="padding: 10px; height: 20%;"
									src="assets/images/piliers/10.jpg" alt="" />
								</div>
								<!--//panel-body-->
							</div>
							<!--//panel-colapse-->
						</div>
					</div>

					<div>
						<p style="color: #A53838; font-size: 14px;">
						 <strong>iPNet iXP, </strong> notre système d’enseignement, est  inspiré de la taxonomie de l’éducation 4.0 du Forum Economique Mondial (WEF)
						</p>
					</div>

						<img style="padding: 10px; height: 20%;"
											 src="assets/images/taxonomie.jpg" alt="" />
						<img 
									src="assets/images/piliers/taxonomie.jpg" alt="" />
							 
                   
					<!-- <h3 style="color: #A53838; font-weight: bolder;">
						 D. Nous sommes la plus grande université en informatique au Togo
					</h3>
					

						<img class="img-responsive" style="padding: 10px; height: 20%;"
											 src="assets/images/piliers/grande_universite.jpg" alt="" />
							 -->
						
					
					
				</article>
				<!--//course-item-->
			</div>
			<!--//course-wrapper-->
			<aside
				class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
				<section class="widget has-divider">
					<app-prospectus></app-prospectus>
				</section>
				<!--//widget-->
				<section class="widget has-divider">
					<app-contact-short></app-contact-short>
				</section>
				<!--//widget-->
				<!-- <section class="widget has-divider">
					<h3 class="title">Nos filières</h3>
					<ul class="list-unstyled">
						<li *ngFor="let aCollege of colleges"><a
							href="#/collegeSingle" (click)="setCurrentCollege(aCollege)"><i
								class="fa fa-book"></i> {{aCollege.name}}</a></li>
					</ul>
				</section> -->
				<section style="padding: 10px;" class="widget has-divider">
					<h3 class="title">Nos filières</h3>
					<ul class="list-unstyled">
						<li *ngFor="let aCollege of colleges">
							<a *ngIf="aCollege.description !== null "
							[routerLink]="['/collegeSingle']" [queryParams]="{ id: aCollege.id }"><i
								class="fa fa-book"></i> {{aCollege.name}}</a>

								<a *ngIf="aCollege.description === null "
								[routerLink]="['/']"><i
								class="fa fa-book"></i> {{aCollege.name}}</a>
							</li>
					</ul>
				</section>
				<!--//widget-->
				<section class="widget has-divider">
					<a class="btn btn-cta" [routerLink]="['/onlineRegistration']"
						[queryParams]="{ event:'INSCRIPTION'}"><i
						class="fa fa-play-circle"></i>Inscription en ligne</a>
				</section>
				<!--//widget-->
			</aside>

		</div>
		<!--//page-row-->
		<!-- <iframe
			src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fipnetuniversity.com%2F%23%2FsystemeEnseignementInnovant%3Fid%3D56&width=450&layout=standard&action=like&size=large&show_faces=false&share=true&height=35&appId"
			width="450" height="35" style="border: none; overflow: hidden"
			scrolling="no" frameborder="0" allowTransparency="true"></iframe> -->

	</div>

</div>