<aside class="page-sidebar col-md-2 col-sm-4 affix-top">
	<section class="widget">
		<ul class="nav">
			<li class="{{adminDemand}}"><a href="#/admin/adminDemand?adminDemand=active"
					i18n="@@registrationRequest">Demandes Inscription</a></li>
			<li class="{{adminMain}}"><a href="#/admin/adminMain?adminMain=active" i18n="@@statistics">Statistiques</a>
			</li>
			<li *ngIf="loggedInUser.role==1" class="{{adminConcours}}"><a
					href="#/admin/adminConcours?adminConcours=active" i18n="@@adminConcours">Gestion Inscription</a></li>

			<li *ngIf="loggedInUser.role==1" class="{{information}}"><a href="#/admin/information?information=active"
					i18n="@@information">Information</a></li>
			<li class="{{adminLibrary}}"><a href="#/admin/adminLibrary?adminLibrary=active"
					i18n="@@library">Inventaire</a></li>
			<li class="{{adminImmobilization}}"><a href="#/admin/adminImmobilization?adminImmobilization=active"
					i18n="@@immobilization">Immobilisations</a></li>
			<li *ngIf="loggedInUser.role==1" class="{{adminFacturation}}"><a
					href="#/admin/adminProformaFacturation?adminFacturation=active" i18n="@@library">Facturation</a>
			</li>
			<li *ngIf="loggedInUser.role==1" class="{{adminCourse}}"><a href="#/admin/adminCourse?adminCourse=active"
					i18n="@@course">Cours</a></li>
			<li *ngIf="loggedInUser.role==1" class="{{adminSchedule}}"><a
					href="#/admin/adminSchedule?adminSchedule=active" i18n="@@schedule">Programme
					de cours</a></li>
			<li class="{{adminExam}}"><a href="#/admin/adminExam?adminExam=active" i18n="@@examAndMarks">Examens
					et notes</a></li>
			<li class="{{adminStudentProject}}"><a href="#/admin/adminStudentProject?adminStudentProject=active"
					i18n="@@examAndMarks">Projets étudiants</a></li>
			<li class="{{adminApproval}}"><a href="#/admin/adminApproval?adminApproval=active"
					i18n="@@testimonies">Temoignages</a></li>
			<li class="{{adminTeacher}}"><a href="#/admin/adminTeacher?adminTeacher=active"
					i18n="@@teachers">Personnel</a></li>
			<li class="{{adminStudent}}"><a href="#/admin/adminStudent?adminStudent=active"
					i18n="@@students">Etudiants</a></li>
			<!--<li class="{{adminStudent}}"><a
				href="#/admin/listInscritsAI" i18n="@@inscritsAI">Inscrits séminaire IA</a></li>-->
			<li class="{{adminParent}}"><a href="#/admin/adminParent?adminParent=active" i18n="@@parents">Parents</a>
			</li>
			<li class="{{adminProfile}}"><a href="#/admin/adminProfile?adminProfile=active" i18n="@@myProfile">Mon
					Profile</a></li>
			<li class="{{adminReport}}"><a href="#/admin/adminReport?adminReport=active" i18n="@@reports">Bulletins
					et Etats</a></li>
			<li *ngIf="loggedInUser.role==1" class="{{adminYearInfo}}"><a
					href="#/admin/adminYearInfo?adminYearInfo=active" i18n="@@configuration">Configuration</a></li>

			<li *ngIf="loggedInUser.role==1" class="{{adminBourseOnline}}"><a
					href="#/admin/adminBourseOnline?adminBourseOnline=active" i18n="@@bourseOnline">Inscription Projet
					SIFA</a></li>


		</ul>
	</section>
	<!--//widget-->
</aside>