.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: 1px solid #ddd;
}

.social .facebook:hover {
  background-color: #3b5998;
  color: white;
}

.social .youtube:hover {
  background-color: #ff0000;
  color: white;
}

.social .linkedin:hover {
  background-color: #0077b5;
  color: white;
}

.social .tiktok:hover {
  background: linear-gradient(135deg, #25F4EE, #000000, #FE2C55);
  color: white;
}
