<p-dialog header="Année fiscale" [(visible)]="displayDialog"
	[responsive]="true" showEffect="fade" [modal]="true" width="700">
<div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="fiscalYear">
	<div>

		<div class="ui-grid-row form-group">
			<div class="ui-grid-col-2">
				<label i18n="@@startYear" for="startYear">Date de début : </label>
			</div>
			<div class="ui-grid-col-9">
		        <p-calendar monthNavigator="true" yearRange="1940:2050" yearNavigator="true" id="startYear" name="startYear"
		          [showIcon]="true" [(ngModel)]="fiscalYear.startYear" #startDate="ngModel" required></p-calendar>
			</div>
			<div class="ui-grid-col-1"></div>
		</div>

		<br />

		<div class="ui-grid-row form-group">
			<div class="ui-grid-col-2">
				<label i18n="@@endYear" for="endYear">Date de fin : </label>
			</div>
			<div class="ui-grid-col-9">
				<p-calendar monthNavigator="true" yearRange="1940:2050" yearNavigator="true" id="endYear" name="endYear"
					[showIcon]="true" [(ngModel)]="fiscalYear.endYear" #startDate="ngModel" required></p-calendar>
			</div>
			<div class="ui-grid-col-1"></div>
		</div>

		<br />

		<div class="ui-grid-row form-group">
      <div class="ui-grid-col-2">
        <label i18n="@@key" for="key">Code : </label>
      </div>
      <div class="ui-grid-col-9">
        <input pInputText id="key" class="form-control"
          [(ngModel)]="fiscalYear.key" />
      </div>
      <div class="ui-grid-col-1"></div>
    </div>

	</div>
</div>


<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<footer>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" pButton icon="fa fa-close" (click)="delete()"
			label="{{DELETE_LABEL}}"></button>
		<button type="button" pButton icon="fa fa-check" (click)="save()"
			label="{{SAVE_LABEL}}"></button>
	</div>
</footer> </p-dialog>


<p-dataTable [value]="fiscalYears" selectionMode="single"
	[(selection)]="selectedFiscalYear" expandableRows="true"
	[paginator]="true" [rows]="5"
	(onRowSelect)="onRowSelect($event)"
	[responsive]="true">
	<p-column expander="true" styleClass="col-icon" [style]="{'width':'5%'}">

	</p-column>
	<p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"
	[sortable]="col.sortable" [style]="col.style" [filter]="col.filter">
		<ng-template *ngIf="col.type === 'Date'" let-col let-data="rowData" pTemplate type="body">
			<span class="col-date">{{ data[ col.field ] | date:'dd/MM/yyyy' }}</span>
		</ng-template>
	</p-column>

  <ng-template pTemplate="paginatorLeft">
    <button type="button" (click)="showDialogToAdd()" pButton icon="fa fa-plus-circle"></button>
  </ng-template>
  <ng-template pTemplate="paginatorRight">
    <button type="button" (click)="getAll()" pButton icon="fa fa-refresh"></button>
  </ng-template>
</p-dataTable>
