/* You can add global styles to this file, and also import other style files */
.e2-48.x-section, .e2-92.x-section {
    background-color: hsl(0,0%,95%);
}

.e2-92.x-section {
    margin: 0em 0em -0.83em 0em;
}
.x-section {
    position: relative;
    margin: 0 0 1.313em;
    padding: 45px 0;
}
.x-container.width {
    width: 88%;
}
.x-section .x-container {
    position: relative;
    z-index: 1;
}
